@media (max-width: 991.98px) {
	.site-navbar .site-logo {
		float: left;
		position: relative;
	}
}

@media (max-width: 991.98px) {
	.sticky-wrapper .shrink {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }

	.carousel-inner .carousel-item-end,
	.carousel-inner .carousel-item-start { 
		transform: translateX(0);
	}

	.carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
	}

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

	.event-dates {
		float: left;
		padding: 0px 30px 0px 15px;
	}

	.event-names {
		padding: 0px 0px 0px 15px;
	}
}

@media only screen and (max-width: 1199px) {

	.join-network-section {
		margin-top: 120px;
	}

	.contact-us-section {
		margin-top: 120px;
	}

	.join-network-section button {
		width: 100%;
	}
}

/* @media screen and (max-width: 1199px) {
	.wizard-v1-content {
		margin: 180px 20px;
	}

	.form-register .content {
		padding: 32px 75px 23px 75px;
	}
} */

@media screen and (max-width: 991px) {

	.inner .form-row {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		margin: 0;
	}

	.inner .form-row.form-row-2 {
		width: 100%;
	}

	.inner .form-row .form-holder {
		padding: 0;
		width: 100%;
	}

	.inner .form-row .form-holder .ui-datepicker-trigger {
		right: 5%;
	}

	.inner .form-row .form-holder .select-btn {
		right: 6%;
	}
}

@media screen and (max-width: 575px) {

	.wizard-v1-content .wizard-form {
		padding: 40px 20px;
		width: auto;
	}

	/* .form-register .content {
		padding: 32px 30px 23px 30px;
	} */

	.form-register .steps li, .form-register .steps li.current {
		padding-right: 5px;
	}

	.form-register .steps li::before {
		width: 65px;
		top: 15%;
		left: 70%;
	}

	.form-register .steps li.current::after {
		left: 28%;
	}

	.inner .form-row .form-holder .ui-datepicker-trigger {
		right: 0;
	}

	.inner .form-row .form-holder .select-btn {
		right: 6.5%;
	}

	.inner .table-responsive tr.space-row,
	.inner .table-responsive tbody th {
		display: block;
	}

	.inner .table-responsive tr.space-row > th {
		padding-bottom: 10px;
	}

	.inner .table-responsive tr.space-row > td {
		padding-bottom: 30px;
	}
}

@media screen and (max-width: 990px) {
	.box{
		margin-bottom: 30px !important;
	}
}

@media only screen and (max-width: 767px) {

	.ripple img {
		width: 35px;
	}

	/* Home Page */

	.welcome {
		font-size: 40px;
		text-align: center;
	}

	.tnn {
		font-size: 45px;
		text-align: center;
	}

	.banner p {
		text-align: center;
	}

	.banner .custom-btn {
		display: inline-block;
		margin: 5px 10px;
	}

	.home-events h2 {
		font-size: 35px;
	}

	.home-events .card .card-body {
		padding: 16px 40px;
	}

	.event-img {
		width: 100%;
	}
	
	.event-dates {
		width: 50%;
		padding-top: 15px;
	}

	.event-names {
		padding-top: 15px;
		width: 50%;
	}

	.event-date {
		font-size: 21px;
	}

	.event-time {
		font-size: 16px;
	}

	.event-name {
		font-size: 21px;
	}

	.event-place {
		font-size: 16px;
	}

	.choose-destination {
		font-size: 35px;
	}

	.and {
		font-size: 40px;
	}

	.adventure {
		font-size: 45px;
	}

	#mapchart {
		height: 300px;
	}

	.company h2 {
		font-size: 35px;
		text-align: center;
	}

	.company p {
		text-align: center;
	}

	.company button {
		margin: 0 auto;
		display: block;
	}

	.companies h2 {
		font-size: 35px;
	}

	.carousel-inner .carousel-item > div {
        display: none;
    }

	.carousel-inner .carousel-item > div:first-child {
		display: block;
		text-align: center;
		margin: 0 auto;
	}

	.buttons {
		justify-content: center;
   	 	display: flex;
	}

	/* About Us */

	.about-banner .are {
		font-size: 40px;
    	text-align: center;
	}

	.about-banner .worker {
		font-size: 45px;
    	text-align: center;
	}

	.about-banner p {
    	text-align: center;
	}

	.about-card .card .card-body {
		padding: 30px 20px;
	}

	.about-travel {
		font-size: 30px;
		text-align: center;
	}

	.about-card p {
		text-align: center;
	}	

	.about-row-2 {
		margin-top: 120px;
	}

	.about2 {
		font-size: 35px;
	}

	.about3 {
		font-size: 50px;
	}

	.about-img-row {
		width: 100px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.about-text-row h3 {
		font-size: 30px;
		text-align: center;
	}

	.about-text-row p {
		text-align: center;
	}

	.our-team {
		font-size: 40px;
	}

	/* Membership Page */

	.membership-banner h1 {
		font-size: 40px;
		text-align: center;
	}

	.membership-banner p {
		text-align: center;
	}

	.membership-section .about {
		text-align: center;
	}

	.plan-profile {
		font-size: 25px;
	}

	.membership-join h2 {
		font-size: 25px;
	}

	.check-img {
		width: 35px;
	}

	/* Profile Page */

	.profile-menu-column {
		justify-content: center!important;
		display: flex;
		-webkit-display: flex;
	}

	.mobile-info .fa-phone {
		display: inline-block;
		width: 10%;
	}	
	
	.mobile-info .mobile {
		display: inline-block;
		width: 88%;
	}

	.mobile-info .fa-users-gear {
		display: inline-block;
		margin-top: 20px;
	}	
	
	.mobile-info .edit-btn {
		display: inline-block;
		margin-top: 20px;
	}

	.email-info .fa-envelope {
		display: inline-block;
		width: 10%;
	}	
	
	.email-info .email {
		display: inline-block;
		width: 88%;
	}
	
	.email-info .fa-users-gear {
		display: inline-block;
		margin-top: 20px;
	}	
	
	.email-info .edit-btn {
		display: inline-block;
		margin-top: 20px;
	}

	.birth-date-info .fa-cake-candles {
		display: inline-block;
		width: 15%;
	}	
	
	.birth-date-info .birth-date {
		display: inline-block;
		width: 83%;
	}
	
	.birth-date-info .fa-users-gear {
		display: inline-block;
		margin-top: 20px;
	}	
	
	.birth-date-info .edit-btn {
		display: inline-block;
		margin-top: 20px;
	}

	.birth-year-info .fa-cake-candles {
		display: inline-block;
		width: 15%;
	}	
	
	.birth-year-info .birth-year {
		display: inline-block;
		width: 83%;
	}
	
	.birth-year-info .fa-users-gear {
		display: inline-block;
		margin-top: 20px;
	}	
	
	.birth-year-info .edit-btn {
		display: inline-block;
		margin-top: 20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.ripple img {
		width: 40px;
	}

	.site-navbar .site-navigation .site-menu > li > a {
		margin-left: 4px;
		margin-right: 4px;
		font-size: 13px;
	}

	.site-navigation .btn {
		font-size: 14px;
	}

	/* Home Page */

	.welcome {
		font-size: 50px;
		text-align: center;
	}

	.tnn {
		font-size: 60px;
		text-align: center;
	}

	.banner p {
		text-align: center;
	}

	.buttons {
		justify-content: center;
   	 	display: flex;
	}

	.banner .custom-btn {
		display: inline-block;
		margin: 5px 10px;
	}

	.home-events h2 {
		font-size: 45px;
	}

	.home-events .card .card-body {
		padding: 72px 105px;
	}

	.event-img {
		width: 40%;
	}
	
	.event-dates {
		padding: 63px 19px;
	}

	.event-date {
		font-size: 22px;
	}

	.event-time {
		font-size: 17px;
	}

	.event-name {
		font-size: 22px;
	}

	.event-place {
		font-size: 17px;
	}

	.event-names {
		padding: 63px 30px 63px 0px;
	}

	.choose-destination {
		font-size: 45px;
	}

	.and {
		font-size: 50px;
	}

	.adventure {
		font-size: 60px;
	}

	#mapchart {
		height: 400px;
	}

	.company h2 {
		font-size: 45px;
		text-align: center;
	}

	.company p {
		text-align: center;
	}

	.company button {
		margin: 0 auto;
		display: block;
	}

	.companies h2 {
		font-size: 45px;
	}

	/* About Us */

	.about-banner .are {
		font-size: 50px;
    	text-align: center;
	}

	.about-banner .worker {
		font-size: 60px;
    	text-align: center;
	}

	.about-banner p {
    	text-align: center;
	}

	.about-card .card .card-body {
		padding: 40px 30px;
	}

	.about-travel {
		font-size: 40px;
		text-align: center;
	}

	.about-card p {
		text-align: center;
	}	

	.about-row-2 {
		margin-top: 120px;
	}

	.about2 {
		font-size: 45px;
	}

	.about3 {
		font-size: 60px;
	}

	.about-img-row {
		width: 100px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.about-text-row h3 {
		font-size: 40px;
		text-align: center;
	}

	.about-text-row p {
		text-align: center;
	}

	.our-team {
		font-size: 50px;
	}

	/* Membership Page */

	.membership-banner h1 {
		font-size: 50px;
		text-align: center;
	}

	.membership-banner p {
		text-align: center;
	}

	.membership-section .about {
		text-align: center;
	}

	.plan-profile {
		font-size: 30px;
	}

	.membership-join h2 {
		font-size: 30px;
	}

	.check-img {
		width: 40px;
	}

	.mobile-info, .email-info, .birth-date-info, .birth-year-info {
		display: flex;
		flex-direction: row;
	}

	.events-section .event-dates {
		float: left;
		padding: 0px 30px 0px 15px;
	}

	.events-section .event-names {
		float: left;
		padding: 3.5px 15px 0px;
	}

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.ripple img {
		width: 45px;
	}

	.site-navbar .site-navigation .site-menu > li > a {
		margin-left: 4px;
		margin-right: 4px;
		font-size: 13px;
	}

	.site-navigation .btn {
		font-size: 14px;
	}

	/* Home Page */

	.welcome {
		font-size: 60px;
		text-align: center;
	}

	.tnn {
		font-size: 70px;
		text-align: center;
	}

	.banner p {
		text-align: center;
	}

	.buttons {
		justify-content: center;
   	 	display: flex;
	}

	.banner .custom-btn {
		display: inline-block;
		margin: 5px 10px;
	}

	.home-events h2 {
		font-size: 55px;
	}

	.home-events .card .card-body {
		padding: 72px 155px;
	}

	.event-img {
		width: 50%;
	}
	
	.event-dates {
		padding: 117px 32px;
	}

	.event-date {
		font-size: 26px;
	}

	.event-time {
		font-size: 18px;
	}

	.event-name {
		font-size: 26px;
	}

	.event-place {
		font-size: 18px;
	}

	.event-names {
		padding: 117px 30px 117px 0px;
	}

	.choose-destination {
		font-size: 55px;
	}

	.and {
		font-size: 60px;
	}

	.adventure {
		font-size: 70px;
	}

	#mapchart {
		height: 500px;
	}

	.company h2 {
		font-size: 55px;
	}

	.companies h2 {
		font-size: 55px;
	}

	/* About Us */

	.about-banner .are {
		font-size: 60px;
    	text-align: center;
	}

	.about-banner .worker {
		font-size: 70px;
    	text-align: center;
	}

	.about-banner p {
    	text-align: center;
	}

	.about-card .card .card-body {
		padding: 40px 50px;
	}

	.about-img img {
		width: 100%;
	}

	.about-travel {
		font-size: 40px;
		text-align: center;
	}

	.about-card p {
		text-align: center;
	}	

	.about-row-2 {
		margin-top: 120px;
	}

	.about2 {
		font-size: 50px;
	}

	.about3 {
		font-size: 70px;
	}

	.about-img-row {
		width: 100px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.about-text-row h3 {
		font-size: 40px;
		text-align: center;
	}

	.about-text-row p {
		text-align: center;
	}

	.our-team {
		font-size: 50px;
	}

	/* Membership Page */

	.membership-banner h1 {
		font-size: 60px;
		text-align: center;
	}

	.membership-banner p {
		text-align: center;
	}

	.membership-section .about {
		text-align: center;
	}

	.plan-profile {
		font-size: 35px;
	}

	.membership-join h2 {
		font-size: 35px;
	}

	.check-img {
		width: 45px;
	}

	.mobile-info, .email-info, .birth-date-info, .birth-year-info {
		display: flex;
		flex-direction: row;
	}

	.events-section .event-dates {
		float: left;
		padding: 0px 30px 0px 15px;
	}

	.events-section .event-names {
		float: left;
		padding: 3.5px 15px 0px;
	}

}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

	.ripple img {
		width: 45px;
	}

	.site-navbar .site-navigation .site-menu > li > a {
		margin-left: 10px;
		margin-right: 10px;
	}

	.navbar-expand-xl .navbar-nav .nav-link {
		padding-right: 13px;
		padding-left: 13px;
	}

	.site-navbar .nav-link {
		font-size: 15px;
	}
	
	.site-navbar .logo {
		width: 200px;
	}
	
	/* Home Page */

	.welcome {
		font-size: 80px;
	}
	
	.tnn {
		font-size: 100px;
	}

	.home-events .card .card-body {
		padding: 15px 105px;
	}

	.home-events h2 {
		font-size: 70px;
	}

	.event-dates {
		float: left;
		padding: 27.5px 30px 27.5px 15px;
	}

	.event-names {
		padding: 27.5px 0px 15px;
	}

	.event-date {
		font-size: 30px;
	}

	.event-name {
		font-size: 30px;
	}

	.choose-destination {
		font-size: 70px;
	}

	.and {
		font-size: 80px;
	}

	.adventure {
		font-size: 90px;
	}

	.banner p {
		font-size: 22px;
	}

	.event-img {
		width: 30%;
	}

	.event-date {
		font-size: 23px;
	}

	.event-dates {
		padding: 20px 0px 20px 10px;
		width: 25%;
	}

	.event-names {
		padding: 20px 0px 0px;
		width: 45%;
	}

	.event-time {
		font-size: 17px;
	}

	.event-name {
		font-size: 23px;
	}

	.event-place {
		font-size: 17px;
	}

	.home-events ul li {
		font-size: 25px;
	}

	.company h2 {
		font-size: 65px;
	}

	.companies h2 {
		font-size: 65px;
	}

	#mapchart {
		height: 500px;
	}

	/* About Us Page */
	
	.about-row {
		position: relative;
	}
	
	.about-img {
		position: relative;
	}
	
	.about-card {
		position: absolute;
		left: 710px;
		top: 95px;
	}

	.about-banner .are {
		font-size: 80px;
	}

	.about-banner .worker {
		font-size: 100px;
	}

	.about-travel {
		font-size: 45px;
	}

	.about-card .card .card-body {
		padding: 80px 65px;
	}

	.about2 {
		font-size: 80px;
	}

	.about3 {
		font-size: 90px;
	}

	.mission-card {
		width: 50%;
		float: left;
	}
	
	.mission-card .card-body {
		padding: 78px 76px;
	}
	
	.vision-card {
		width: 50%;
	}

	.vision-card .card-body {
		padding: 78px 76px;
	}

	.mission-card h3 {
		font-size: 60px;
	}

	.vision-card h3 {
		font-size: 60px;
	}
	
	.our-team {
		font-size: 80px;
	}

	/* Membership Page */

	.membership-banner h1 {
		font-size: 80px;
	}

	.plan-profile {
		font-size: 40px;
		line-height: 60px;
	}

	.membership-section .card .card-body {
		padding: 50px 17px 84px;
	}

	.membership-join h2 {
		font-size: 60px;
	}

	.plan-rates {
		font-size: 20px;
		line-height: 30px;
	}

	.membership-join h2 {
		font-size: 40px;
	}

	.check-img {
		width: 45px;
	}
	
	/* Contact Us Page */

	.contact-banner h1 {
		font-size: 100px;
	}

	.contact-us-section h2 {
		font-size: 80px;
	}

	.contact-us-section {
		margin-top: -170px;
	}

	.contact-us-section .submit-btn {
		padding: 21px 106px;
	}

	.attach-btn {
		padding: 15px 42px 15px 29px;
	}

	/* Events Page */

	.events-banner h1 {
		font-size: 100px;
	}

	/* Join The Network Page */

	.join-network-section {
		margin-top: -170px;
	}

	.join-network-section button {
		width: 25%;
	}

	.join-network-banner h1 {
		font-size: 100px;
	}

	.join-network-section h2 {
		font-size: 80px;
	}

	.join-network-section .card .card-body {
		padding: 85px 60px;
	}

	/* Healthcare Agencies Page */

	.healthcare-banner h1 {
		font-size: 100px;
	}

	.healthcare-section .card .card-header h3 {
		font-size: 45px;
	}

	.healthcare-section h4 {
		font-size: 24px;
	}

	.profile-section .nav-link {
		font-size: 25px;
		padding-bottom: 30px;
	}

	.profile-section .nav-link i {
		font-size: 20px;
	}

	.user-profile h3 {
		font-size: 60px;
	}

	.member-info {
		margin-top: 70px;
	}

	.member-info .card .card-body {
		padding: 52px 47px;
	}

	.member-info h4 {
		font-size: 40px;
	}

	.mobile-row p {
		font-size: 22px;
	}

	.email-row p {
		font-size: 22px;
	}

	.birth-date-row p {
		font-size: 22px;
	}

	.birth-year-row p {
		font-size: 22px;
	}

	.mobile-info, .email-info, .birth-date-info, .birth-year-info {
		display: flex;
		flex-direction: row;
	}

	.login-body {
		padding: 84px 74px;
	}
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {

	.navbar-expand-xl .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.fa-magnifying-glass {
		font-size: 28px;
		font-weight: 600;
	}

	.login-body {
		padding: 84px 74px;
	}	

	/* Home Page */

	.welcome {
		font-size: 100px;
	}
	
	.tnn {
		font-size: 130px;
	}

	.home-events .row {
		padding-right: 1.2rem;
		padding-left: 1.2rem
	}

	.home-events .card .card-body {
		padding: 20px 105px;
	}

	.home-events h2 {
		font-size: 90px;
	}

	.banner p {
		font-size: 22px;
	}

	.event-dates {
		float: left;
		padding: 27.5px 13px 27.5px 13px;
	}

	.event-names {
		padding: 27.5px 0px 15px;
	}

	.event-date {
		font-size: 26px;
	}

	.event-time {
		font-size: 17px;
	}

	.event-name {
		font-size: 26px;
	}

	.event-place {
		font-size: 17px;
	}

	.choose-destination {
		font-size: 80px;
	}

	.and {
		font-size: 90px;
	}

	.adventure {
		font-size: 110px;
	}

	.company h2 {
		font-size: 80px;
	}

	.companies h2 {
		font-size: 80px;
	}

	.home-events ul li {
		font-size: 28px;
	}

	#mapchart {
		height: 500px;
	}

	/* About Us Page */
	
	.about-row {
		position: relative;
	}
	
	.about-img {
		position: relative;
	}
	
	.about-card {
		position: absolute;
		left: 710px;
		top: 95px;
	}

	.about-banner .are {
		font-size: 90px;
	}

	.about-banner .worker {
		font-size: 110px;
	}

	.about-travel {
		font-size: 60px;
	}

	.about-card .card .card-body {
		padding: 165px 92px;
	}

	.about2 {
		font-size: 80px;
	}

	.about3 {
		font-size: 110px;
	}

	.mission-card {
		width: 50%;
		float: left;
	}
	
	.mission-card .card-body {
		padding: 78px 76px;
	}
	
	.vision-card {
		width: 50%;
	}

	.vision-card .card-body {
		padding: 78px 76px;
	}

	.mission-card h3 {
		font-size: 70px;
	}

	.vision-card h3 {
		font-size: 70px;
	}
	
	.our-team {
		font-size: 90px;
	}

	/* Membership Page */

	.membership-banner h1 {
		font-size: 80px;
	}

	.plan-profile {
		font-size: 50px;
		line-height: 60px;
	}

	.membership-section .card .card-body {
		padding: 50px 47px 84px;
	}

	.membership-join h2 {
		font-size: 60px;
	}

	.plan-rates {
		font-size: 25px;
		line-height: 30px;
	}

	.membership-join h2 {
		font-size: 50px;
	}

	.check-img {
		width: 49px;
	}
	
	/* Contact Us Page */

	.contact-banner h1 {
		font-size: 100px;
	}

	.contact-us-section h2 {
		font-size: 80px;
	}

	.contact-us-section {
		margin-top: -170px;
	}

	.contact-us-section .submit-btn {
		padding: 21px 106px;
	}

	.attach-btn {
		padding: 15px 42px 15px 29px;
	}

	/* Join The Network Page */

	.join-network-section {
		margin-top: -170px;
	}

	.join-network-section button {
		width: 25%;
	}

	.join-network-banner h1 {
		font-size: 100px;
	}

	.join-network-section h2 {
		font-size: 80px;
	}

	.join-network-section .card .card-body {
		padding: 85px 60px;
	}

	/* Events Page */

	.events-banner h1 {
		font-size: 100px;
	}
	
	.tnnh-row h2 {
		font-size: 35px;
	}

	/* Healthcare Agencies Page */

	.healthcare-banner h1 {
		font-size: 100px;
	}

	.healthcare-section .card .card-header h3 {
		font-size: 45px;
	}

	.healthcare-section h4 {
		font-size: 24px;
	}

	/* Blogs Pages */

	.blogs-banner h1 {
		font-size: 100px;
	}

	.blogs1-row {
		position: relative;
	}
	
	.image-blog1 {
		position: relative;
	}
	
	.content-blog1 {
		position: absolute;
		left: 825px;
		top: 149px;
	}

	.blogs2-row .card .card-body {
		padding: 40px 44px 55px;
	}

	.content-blog h3 {
		font-size: 45px;
	}
	
	.content-blog p {
		font-size: 22px;
	}

	.login-body h2 {
		font-size: 88px;
	}

	.membership-tiers h1 {
		font-size: 80px;
	}

	.membership-tiers h2 {
		font-size: 60px;
	}

	.membership-cost h1 {
		font-size: 80px;
	}
	
	.membership-cost h3 {
		font-size: 40px;
	}

	.membership-cost p span {
		font-size: 20px;
	}

	.continue-btn {
		height: 70px;
		width: 300px;
	}	

	.inner h3 {
		font-size: 45px;
	}

	.signup-section h1 {
		font-size: 80px;
	}

	.payment-section h1 {
		font-size: 80px;
	}

	.payment-section .form-check-label {
		font-size: 20px;
	}

	.payment-section h3 {
		font-size: 40px;
	}
	
	.payment-section h4 {
		font-size: 30px;
	}

	.profile-section .nav-link {
		font-size: 25px;
		padding-bottom: 30px;
	}

	.profile-section .nav-link i {
		font-size: 20px;
	}
	
	.user-profile h3 {
		font-size: 60px;
	}

	.member-info {
		margin-top: 70px !important;
	}

	.member-info .card .card-body {
		padding: 52px 47px;
	}

	.member-info h4 {
		font-size: 40px;
	}

	.mobile-row p {
		font-size: 22px;
	}

	.email-row p {
		font-size: 22px;
	}

	.birth-date-row p {
		font-size: 22px;
	}

	.birth-year-row p {
		font-size: 22px;
	}

	.mobile-info, .email-info, .birth-date-info, .birth-year-info {
		display: flex;
		flex-direction: row;
	}

}

@media only screen and (min-width: 1600px) {

	.navbar-expand-xl .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.fa-magnifying-glass {
		font-size: 28px;
		font-weight: 600;
	}

	.login-body {
		padding: 84px 74px;
	}	

	/* Home Page */

	.welcome {
		font-size: 100px;
	}
	
	.tnn {
		font-size: 130px;
	}

	.home-events .card .card-body {
		padding: 25px 95px;
	}

	.home-events h2 {
		font-size: 100px;
		line-height: 100px;
	}

	.banner p {
		font-size: 22px;
	}

	.event-dates {
		float: left;
		padding: 27.5px 13px 27.5px 13px;
	}

	.event-names {
		padding: 27.5px 0px 15px;
	}

	.event-date {
		font-size: 30px;
	}

	.event-time {
		font-size: 18px;
	}

	.event-name {
		font-size: 30px;
	}

	.event-place {
		font-size: 18px;
	}

	.choose-destination {
		font-size: 90px;
	}

	.and {
		font-size: 100px;
	}

	.adventure {
		font-size: 130px;
	}

	.company h2 {
		font-size: 100px;
	}

	.companies h2 {
		font-size: 100px;
	}

	.home-events ul li {
		font-size: 30px;
	}

	#mapchart {
		height: 500px;
	}

	/* About Us Page */
	
	.about-row {
		position: relative;
	}
	
	.about-img {
		position: relative;
	}
	
	.about-card {
		position: absolute;
		left: 710px;
		top: 95px;
	}

	.about-banner .are {
		font-size: 100px;
	}

	.about-banner .worker {
		font-size: 130px;
	}

	.about-banner p {
		font-size: 22px;
	}

	.about-travel {
		font-size: 70px;
	}

	.about-card .card .card-body {
		padding: 100px 92px;
	}


	.about2 {
		font-size: 90px;
	}

	.about3 {
		font-size: 130px;
	}

	.mission-card {
		width: 50%;
		float: left;
	}
	
	.mission-card .card-body {
		padding: 78px 76px;
	}
	
	.vision-card {
		width: 50%;
	}

	.vision-card .card-body {
		padding: 78px 76px;
	}

	.mission-card h3 {
		font-size: 80px;
	}

	.vision-card h3 {
		font-size: 80px;
	}
	
	.our-team {
		font-size: 100px;
	}

	/* Membership Page */

	.membership-banner h1 {
		font-size: 100px;
	}

	.plan-profile {
		font-size: 59px;
		line-height: 60px;
	}

	.membership-section .card .card-body {
		padding: 50px 47px 84px;
	}

	.membership-join h2 {
		font-size: 60px;
	}

	.plan-rates {
		font-size: 30px;
		line-height: 30px;
	}
	
	/* Contact Us Page */

	.contact-banner h1 {
		font-size: 100px;
	}

	.contact-us-section h2 {
		font-size: 80px;
	}

	.contact-us-section {
		margin-top: -170px;
	}

	.contact-us-section .submit-btn {
		padding: 21px 106px;
	}

	.attach-btn {
		padding: 15px 42px 15px 29px;
	}

	/* Join The Network Page */

	.join-network-section {
		margin-top: -170px;
	}

	.join-network-section button {
		width: 25%;
	}

	.join-network-banner h1 {
		font-size: 100px;
	}

	.join-network-section h2 {
		font-size: 80px;
	}

	.join-network-section .card .card-body {
		padding: 85px 60px;
	}

	/* Events Page */

	.events-banner h1 {
		font-size: 100px;
	}
	
	.tnnh-row h2 {
		font-size: 35px;
	}

	/* Healthcare Agencies Page */

	.healthcare-banner h1 {
		font-size: 100px;
	}

	.healthcare-section .card .card-header h3 {
		font-size: 45px;
	}

	.healthcare-section h4 {
		font-size: 24px;
	}

	/* Blogs Pages */

	.blogs-banner h1 {
		font-size: 100px;
	}

	.blogs1-row {
		position: relative;
	}
	
	.image-blog1 {
		position: relative;
	}
	
	.content-blog1 {
		position: absolute;
		left: 825px;
		top: 149px;
	}

	.blogs2-row .card .card-body {
		padding: 40px 44px 55px;
	}

	.content-blog h3 {
		font-size: 45px;
	}
	
	.content-blog p {
		font-size: 22px;
	}

	.login-body h2 {
		font-size: 88px;
	}

	.membership-tiers h1 {
		font-size: 80px;
	}

	.membership-tiers h2 {
		font-size: 60px;
	}

	.membership-cost h1 {
		font-size: 80px;
	}
	
	.membership-cost h3 {
		font-size: 40px;
	}

	.membership-cost p span {
		font-size: 20px;
	}

	.continue-btn {
		height: 70px;
		width: 300px;
	}	

	.inner h3 {
		font-size: 45px;
	}

	.signup-section h1 {
		font-size: 80px;
	}

	.payment-section h1 {
		font-size: 80px;
	}

	.payment-section .form-check-label {
		font-size: 20px;
	}

	.payment-section h3 {
		font-size: 40px;
	}
	
	.payment-section h4 {
		font-size: 30px;
	}

	.profile-section .nav-link {
		font-size: 25px;
		padding-bottom: 30px;
	}

	.profile-section .nav-link i {
		font-size: 20px;
	}
	
	.user-profile h3 {
		font-size: 60px;
	}

	.member-info {
		margin-top: 70px !important;
	}

	.member-info .card .card-body {
		padding: 52px 47px;
	}

	.member-info h4 {
		font-size: 40px;
	}

	.mobile-row p {
		font-size: 22px;
	}

	.email-row p {
		font-size: 22px;
	}

	.birth-date-row p {
		font-size: 22px;
	}

	.birth-year-row p {
		font-size: 22px;
	}

	.mobile-info, .email-info, .birth-date-info, .birth-year-info {
		display: flex;
		flex-direction: row;
	}


}