@media (max-width: 991.98px) {
	.site-navbar .site-logo {
		float: left;
		position: relative;
	}
}

@media (max-width: 991.98px) {
	.sticky-wrapper .shrink {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }

	.carousel-inner .carousel-item-end,
	.carousel-inner .carousel-item-start { 
		transform: translateX(0);
	}

	.carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
	}

}

/* @media only screen and (min-width: 992px) and (max-width: 1200px) {

	.event-dates {
		float: left;
		padding: 0px 30px 0px 15px;
	}

	.event-names {
		padding: 0px 0px 0px 15px;
	}
} */

/* @media only screen and (max-width: 1199px) {

	.join-network-section {
		margin-top: 120px;
	}

	.contact-us-section {
		margin-top: 120px;
	}

	.join-network-section button {
		width: 100%;
	}
} */

/* @media screen and (max-width: 1199px) {
	.wizard-v1-content {
		margin: 180px 20px;
	}

	.form-register .content {
		padding: 32px 75px 23px 75px;
	}
} */

@media screen and (max-width: 991px) {

	.inner .form-row {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		margin: 0;
	}

	.inner .form-row.form-row-2 {
		width: 100%;
	}

	.inner .form-row .form-holder {
		padding: 0;
		width: 100%;
	}

	.inner .form-row .form-holder .ui-datepicker-trigger {
		right: 5%;
	}

	.inner .form-row .form-holder .select-btn {
		right: 6%;
	}
}

@media screen and (max-width: 575px) {

	/* .form-register .content {
		padding: 32px 30px 23px 30px;
	} */

	.form-register .steps li, .form-register .steps li.current {
		padding-right: 5px;
	}

	.form-register .steps li::before {
		width: 65px;
		top: 15%;
		left: 70%;
	}

	.form-register .steps li.current::after {
		left: 28%;
	}

	.inner .form-row .form-holder .ui-datepicker-trigger {
		right: 0;
	}

	.inner .form-row .form-holder .select-btn {
		right: 6.5%;
	}

	.inner .table-responsive tr.space-row,
	.inner .table-responsive tbody th {
		display: block;
	}

	.inner .table-responsive tr.space-row > th {
		padding-bottom: 10px;
	}

	.inner .table-responsive tr.space-row > td {
		padding-bottom: 30px;
	}
}

@media screen and (max-width: 990px) {
	.box{
		margin-bottom: 30px !important;
	}
}

@media only screen and (max-width: 767px) {

	.ripple img {
		width: 35px;
	}

	.login-body {
		padding: 84px 25px;
	}

	.login-body h2 {
		font-size: 25px;
	}

	/* Home Page */

	.welcome {
		font-size: 40px;
		text-align: center;
	}

	.tnn {
		font-size: 45px;
		text-align: center;
	}

	.banner p {
		text-align: center;
	}

	.banner .custom-btn {
		display: inline-block;
		margin: 5px 10px;
	}

	.home-events h2 {
		font-size: 35px;
	}

	.home-events .card .card-body {
		padding: 16px 40px;
	}

	.event-img {
		width: 100%;
	}
	
	.event-dates {
		width: 50%;
		padding: 15px 0px;
	}

	.event-names {
		padding: 15px 0px;
		width: 50%;
	}

	.event-date {
		font-size: 21px;
	}

	.event-time {
		font-size: 16px;
	}

	.event-name {
		font-size: 21px;
	}

	.event-place {
		font-size: 16px;
	}

	.choose-destination {
		font-size: 35px;
	}

	.and {
		font-size: 40px;
	}

	.adventure {
		font-size: 45px;
	}

	#mapchart {
		height: 300px;
	}

	.company h2 {
		font-size: 35px;
		text-align: center;
	}

	.company p {
		text-align: center;
	}

	.company button {
		margin: 0 auto;
		display: block;
	}

	.companies h2 {
		font-size: 35px;
	}

	.carousel-inner .carousel-item > div {
        display: none;
    }

	.carousel-inner .carousel-item > div:first-child {
		display: block;
		text-align: center;
		margin: 0 auto;
	}

	.buttons {
		justify-content: center;
   	 	display: flex;
	}

	/* About Us Page */

	.about-banner .are {
		font-size: 40px;
    	text-align: center;
	}

	.about-banner .worker {
		font-size: 45px;
    	text-align: center;
	}

	.about-banner p {
    	text-align: center;
	}

	.about-card .card .card-body {
		padding: 30px 20px;
	}

	.about-travel {
		font-size: 30px;
		text-align: center;
	}

	.about-card p {
		text-align: center;
	}	

	.about-row-2 {
		margin-top: 120px;
	}

	.about2 {
		font-size: 35px;
	}

	.about3 {
		font-size: 50px;
	}

	.about-img-row {
		width: 100px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.about-text-row h3 {
		font-size: 30px;
		text-align: center;
	}

	.about-text-row p {
		text-align: center;
	}

	.our-team {
		font-size: 40px;
	}

	/* Membership Page */

	.membership-banner h1 {
		font-size: 40px;
		text-align: center;
	}

	.membership-banner p {
		text-align: center;
	}

	.membership-section .about {
		text-align: center;
	}

	.plan-profile {
		font-size: 25px;
	}

	.membership-join h2 {
		font-size: 25px;
	}

	.check-img {
		width: 35px;
	}

	/* Contact Us Page */

	.contact-banner h1 {
		font-size: 40px;
    	text-align: center;
	}

	.contact-banner p {
		text-align: center;
	}

	.contact-us-section {
		margin-top: -170px;
	}

	.contact-us-section h2 {
		font-size: 25px;
	}

	.contact-us-section .submit-btn {
		padding: 21px 52px;
	}

	/* Events Page */

	.events-banner h1 {
		font-size: 40px;
    	text-align: center;
	}

	.events-banner p {
		text-align: center;
	}

	.fc-toolbar-chunk {
		width: 100%;
	}

	button.fc-today-button.fc-button.fc-button-primary {
		margin: 0px auto 5px;
		display: block;
	}

	.tnnh-row h2 {
		text-align: center;
	}

	.tnnh-row p {
		text-align: center;
	}

	.tnnh-row button {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	/* Join The Network Page */

	.join-network-banner h1 {
		font-size: 40px;
    	text-align: center;
	}

	.join-network-banner p {
    	text-align: center;
	}

	.join-network-section h2 {
		font-size: 25px;
	}

	.join-network-section .submit-btn {
		padding: 21px 52px;
	}

	/* Healtcare Agencies Page */

	.healthcare-banner h1 {
		font-size: 40px;
    	text-align: center;
	}

	.healthcare-banner p {
    	text-align: center;
	}

	.healthcare-section .card .card-header h3 {
		font-size: 25px;
	}

	/* Blogs Page */

	.blogs-banner h1 {
		font-size: 40px;
		text-align: center;
	}

	.blogs-banner p {
		text-align: center;
	}

	.content-blog h3 {
		font-size: 25px;
	}

	/* Membership Tiers Page */

	.membership-tiers p {
		text-align: center;
	}

	.membership-tiers h1 {
		text-align: center;
		font-size: 30px;
	}

	.membership-plan p {
		text-align: left;
	}

	.membership-tiers h2 {
		font-size: 20px;
		text-align: center;
	}

	.membership-profile-plan p span {
		font-size: 16px;
	}

	.profile-plan {
		margin-bottom: 0px;
	}

	/* Membership Cost Page */

	.membership-cost h1 {
		text-align: center;
    	font-size: 30px;
	}

	.membership-cost h3 {
		font-size: 23px;
	}

	.membership-cost .profile-card .card-body {
		padding: 41px 28px;
	}

	/* Sign Up Page */

	.signup-section h1 {
		font-size: 30px;
	}

	.wizard-v1-content .wizard-form {
		padding: 40px 0px;
		width: auto;
	}

	.picture {
		width: 120px;
		height: 120px;
	}

	.file-upload {
		left: 20px;
	}

	.image-size {
		left: 20px;
	}

	.inner h3 {
		font-size: 25px;
	}

	.continue-btn {
		padding: 20px 60px;
	}

	.emp-record {
		width: 100%;
	}

	.past-exp {
		width: 100%;
		text-align: left;
		padding-top: 20px;
	}

	.reference {
		width: 100%;
	}

	.reference-check {
		width: 100%;
		text-align: left;
		padding-top: 20px;
	}

	/* Payment Page */

	.payment-section h1 {
		font-size: 30px;
	}

	.select-plan-card .form-check {
		width: 100%;
	}

	.sub-pay-price {
		width: 100%;
		padding-top: 10px;
		margin-bottom: 0px;
	}

	.payment-section h3 {
		text-align: center;
		font-size: 23px;
	}

	.payment-section h4 {
		font-size: 19px;
	}

	.payment-nav-tabs .nav-link {
		padding: 8px 12px;
	}

	.payment-card .card-body {
		padding: 40px 20px;
	}

	.paypal-logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	/* Profile Page */

	.profile-menu-column {
		justify-content: center!important;
		display: flex;
		-webkit-display: flex;
	}

	.user-profile-img {
		width: 120px;
		height: 120px;
	}

	.share-profile {
		display: block;
		margin: 10px auto;
		text-align: center;
	}

	.user-profile h3 {
		font-size: 23px;
	}

	.member-profile h4 {
		font-size: 22px;
	}

	.mobile-row .phone-icon {
		display: inline-block;
		margin-top: -20px;
	}	
	
	.mobile-info .mobile {
		display: inline-block;
		width: 85%;
	}
	
	.mobile-info .edit-btn {
		display: inline-block;
		margin-top: 20px;
	}

	.email-info .email-icon {
		display: inline-block;
		margin-top: -35px;
	}	
	
	.email-info .email {
		display: inline-block;
		width: 85%;
	}
		
	.email-info .edit-btn {
		display: inline-block;
		margin-top: 20px;
	}

	.birth-date-info .cake-icon {
		display: inline-block;
		width: 15%;
	}	

	.cake-icon {
		margin-top: -40px;
	}
	
	.birth-date-info .birth-date {
		display: inline-block;
		width: 83%;
	}
	
	.birth-date-info .edit-btn {
		display: inline-block;
		margin-top: 20px;
	}

	.birth-year-info .cake-icon {
		display: inline-block;
		width: 15%;
	}	
	
	.birth-year-info .birth-year {
		display: inline-block;
		width: 83%;
	}
		
	.birth-year-info .edit-btn {
		display: inline-block;
		margin-top: 20px;
	}

	.member-profile-content {
		padding: 46px 10px;
	}

	.email-submit-btn {
		margin-top: 10px;
		display: block;
		width: 100%;
	}

	.member-profile-content .modal-title {
		font-size: 22px;
	}

	.member-profile .card .card-body {
		padding: 52px 10px;
	}

	.notification-content {
		padding: 80px 15px;
	}
	
	.notification-content h3 {
		font-size: 23px;
	}

	.resume-row .pdf-icon {
		float: left;
	}	
	
	.resume-info .resume {
		width: 85%;
		margin-left: 60px;
		padding-top: 10px;
	}
		
	.resume-info .edit-btn {
		display: inline-block;
		margin-top: 20px;
	}

	.certificate-row .pdf-icon {
		float: left;
	}	
	
	.certificate-info .certificate {
		width: 85%;
		margin-left: 60px;
		padding-top: 10px;
	}
		
	.certificate-info .edit-btn {
		display: inline-block;
		margin-top: 20px;
	}

	.member-profile-body .pdf-icon {
		width: 15%;
		float: left;
	}

	.member-profile-body .certificate {
		padding-left: 45px;
		padding-top: 0px
	}

	/* Footer */

	.ftco-footer-social img {
		width: 35px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.ripple img {
		width: 40px;
	}

	.site-navbar .site-navigation .site-menu > li > a {
		margin-left: 4px;
		margin-right: 4px;
		font-size: 13px;
	}

	.site-navigation .btn {
		font-size: 14px;
	}

	.login-body {
		padding: 84px 35px;
	}

	.login-body h2 {
		font-size: 35px;
	}

	/* Home Page */

	.welcome {
		font-size: 50px;
		text-align: center;
	}

	.tnn {
		font-size: 60px;
		text-align: center;
	}

	.banner p {
		text-align: center;
	}

	.buttons {
		justify-content: center;
   	 	display: flex;
	}

	.banner .custom-btn {
		display: inline-block;
		margin: 5px 10px;
	}

	.home-events h2 {
		font-size: 45px;
	}

	.home-events .card .card-body {
		padding: 72px 105px;
	}

	.event-img {
		width: 40%;
	}
	
	.event-dates {
		padding: 63px 19px;
	}

	.event-date {
		font-size: 22px;
	}

	.event-time {
		font-size: 17px;
	}

	.event-name {
		font-size: 22px;
	}

	.event-place {
		font-size: 17px;
	}

	.event-names {
		padding: 63px 30px 63px 0px;
	}

	.choose-destination {
		font-size: 45px;
	}

	.and {
		font-size: 50px;
	}

	.adventure {
		font-size: 60px;
	}

	#mapchart {
		height: 400px;
	}

	.company h2 {
		font-size: 45px;
		text-align: center;
	}

	.company p {
		text-align: center;
	}

	.company button {
		margin: 0 auto;
		display: block;
	}

	.companies h2 {
		font-size: 45px;
	}

	/* About Us */

	.about-banner .are {
		font-size: 50px;
    	text-align: center;
	}

	.about-banner .worker {
		font-size: 60px;
    	text-align: center;
	}

	.about-banner p {
    	text-align: center;
	}

	.about-card .card .card-body {
		padding: 40px 30px;
	}

	.about-travel {
		font-size: 40px;
		text-align: center;
	}

	.about-card p {
		text-align: center;
	}	

	.about-row-2 {
		margin-top: 120px;
	}

	.about2 {
		font-size: 45px;
	}

	.about3 {
		font-size: 60px;
	}

	.about-img-row {
		width: 100px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.about-text-row h3 {
		font-size: 40px;
		text-align: center;
	}

	.about-text-row p {
		text-align: center;
	}

	.our-team {
		font-size: 50px;
	}

	/* Membership Page */

	.membership-banner h1 {
		font-size: 50px;
		text-align: center;
	}

	.membership-banner p {
		text-align: center;
	}

	.membership-section .about {
		text-align: center;
	}

	.plan-profile {
		font-size: 30px;
	}

	.membership-join h2 {
		font-size: 30px;
	}

	.check-img {
		width: 40px;
	}

	/* Contact Us Page */

	.contact-banner h1 {
		font-size: 50px;
    	text-align: center;
	}

	.contact-banner p {
		text-align: center;
	}

	.contact-us-section {
		margin-top: -170px;
	}

	.contact-us-section h2 {
		font-size: 35px;
	}

	.contact-us-section .submit-btn {
		padding: 21px 70px;
	}

	/* Events Page */

	.events-banner h1 {
		font-size: 50px;
    	text-align: center;
	}

	.events-banner p {
		text-align: center;
	}

	.fc-toolbar-chunk {
		width: 100%;
	}

	.tnnh-row h2 {
		text-align: center;
	}

	.tnnh-row p {
		text-align: center;
	}

	.tnnh-row button {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.events-section .event-dates {
		float: left;
		padding: 63px 10px;
		width: 25%;
	}

	.events-section .event-names {
		float: left;
		padding: 63px 0px 63px 0px;
		width: 35%;
	}

	.row.element-item.conventions.hosting.networking {
		width: 100%;
	}

	/* Join The Network Page */

	.join-network-banner h1 {
		font-size: 50px;
    	text-align: center;
	}

	.join-network-banner p {
    	text-align: center;
	}

	.join-network-section h2 {
		font-size: 35px;
	}

	.join-network-section .submit-btn {
		padding: 21px 70px;
	}

	/* Healtcare Agencies Page */

	.healthcare-banner h1 {
		font-size: 50px;
    	text-align: center;
	}

	.healthcare-banner p {
    	text-align: center;
	}

	.healthcare-section .card .card-header h3 {
		font-size: 30px;
	}

	/* Blogs Page */

	.blogs-banner h1 {
		font-size: 50px;
		text-align: center;
	}

	.blogs-banner p {
		text-align: center;
	}

	.content-blog h3 {
		font-size: 30px;
	}

	/* Membership Tiers Page */

	.membership-tiers p {
		text-align: center;
	}

	.membership-tiers h1 {
		text-align: center;
		font-size: 40px;
	}

	.membership-plan p {
		text-align: left;
	}

	.membership-tiers h2 {
		font-size: 30px;
		text-align: center;
	}

	.membership-profile-plan p span {
		font-size: 18px;
	}

	.profile-plan {
		margin-bottom: 0px;
	}

	/* Membership Cost */

	.membership-cost h1 {
		text-align: center;
    	font-size: 40px;
	}

	.membership-cost h3 {
		font-size: 27px;
	}

	.membership-cost .profile-card .card-body {
		padding: 41px;
	}

	/* Sign Up Page */

	.signup-section h1 {
		font-size: 40px;
	}

	.wizard-v1-content .wizard-form {
		padding: 40px 0px;
		width: auto;
	}

	.picture {
		width: 130px;
		height: 130px;
	}

	.file-upload {
		left: 25px;
	}

	.image-size {
		left: 25px;
	}

	.inner h3 {
		font-size: 30px;
	}

	.continue-btn {
		padding: 20px 60px;
	}

	.emp-record {
		width: 50%;
	}

	.past-exp {
		width: 50%;
		text-align: right;
		padding-top: 8px;
	}

	.reference {
		width: 50%;
	}

	.reference-check {
		width: 50%;
		text-align: right;
		padding-top: 8px;
	}

	/* Payment Page */

	.payment-section h1 {
		font-size: 40px;
	}

	.select-plan-card .form-check {
		width: 50%;
		float: left;
	}

	.payment-section h3 {
		font-size: 27px;
	}

	.sub-pay-price {
		width: 50%;
		margin-bottom: 0px;
		float: right;
		text-align: right;
	}

	.payment-section h4 {
		font-size: 21px;
	}

	.payment-nav-tabs .nav-link {
		padding: 8px 12px;
	}

	.payment-card .card-body {
		padding: 40px 20px;
	}

	/* Profile Page */

	.mobile-info, .email-info, .birth-date-info, .birth-year-info {
		display: flex;
		flex-direction: row;
	}

	.resume-info, .certificate-info {
		display: flex;
		flex-direction: row;
	}

	.user-profile-img {
		width: 125px;
		height: 125px;
	}

	.user-profile h3 {
		font-size: 33px;
	}

	.member-profile h4 {
		font-size: 25px;
	}

	.member-profile-content {
		padding: 46px 10px;
	}

	.email-submit-btn {
		margin-top: 10px;
		display: block;
		width: 100%;
	}

	.share-profile-btn {
		padding: 10px 6px;
	}

	.member-profile-content .modal-title {
		font-size: 27px;
	}

	.member-profile .card .card-body {
		padding: 52px 30px;
	}

	.notification-content {
		padding: 80px 30px;
	}
	
	.notification-content h3 {
		font-size: 27px;
	}

	.member-profile-body .pdf-icon {
		width: 15%;
		float: left;
	}

	.member-profile-body .certificate {
		padding-left: 55px;
		padding-top: 0px
	}

	/* Footer */

	.ftco-footer-social img {
		width: 40px;
	}

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.ripple img {
		width: 45px;
	}

	.site-navbar .site-navigation .site-menu > li > a {
		margin-left: 4px;
		margin-right: 4px;
		font-size: 13px;
	}

	.site-navigation .btn {
		font-size: 14px;
	}

	.login-body {
		padding: 84px 60px;
	}

	.login-body h2 {
		font-size: 45px;
	}

	/* Home Page */

	.welcome {
		font-size: 60px;
		text-align: center;
	}

	.tnn {
		font-size: 70px;
		text-align: center;
	}

	.banner p {
		text-align: center;
	}

	.buttons {
		justify-content: center;
   	 	display: flex;
	}

	.banner .custom-btn {
		display: inline-block;
		margin: 5px 10px;
	}

	.home-events h2 {
		font-size: 55px;
	}

	.home-events .card .card-body {
		padding: 72px 155px;
	}

	.event-img {
		width: 50%;
	}
	
	.event-dates {
		padding: 117px 32px;
	}

	.event-date {
		font-size: 26px;
	}

	.event-time {
		font-size: 18px;
	}

	.event-name {
		font-size: 26px;
	}

	.event-place {
		font-size: 18px;
	}

	.event-names {
		padding: 117px 30px 117px 0px;
	}

	.choose-destination {
		font-size: 55px;
	}

	.and {
		font-size: 60px;
	}

	.adventure {
		font-size: 70px;
	}

	#mapchart {
		height: 500px;
	}

	.company h2 {
		font-size: 55px;
	}

	.companies h2 {
		font-size: 55px;
	}

	/* About Us */

	.about-banner .are {
		font-size: 60px;
    	text-align: center;
	}

	.about-banner .worker {
		font-size: 70px;
    	text-align: center;
	}

	.about-banner p {
    	text-align: center;
	}

	.about-card .card .card-body {
		padding: 40px 50px;
	}

	.about-img img {
		width: 100%;
	}

	.about-travel {
		font-size: 40px;
		text-align: center;
	}

	.about-card p {
		text-align: center;
	}	

	.about-row-2 {
		margin-top: 120px;
	}

	.about2 {
		font-size: 50px;
	}

	.about3 {
		font-size: 70px;
	}

	.about-img-row {
		width: 100px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.about-text-row h3 {
		font-size: 40px;
		text-align: center;
	}

	.about-text-row p {
		text-align: center;
	}

	.our-team {
		font-size: 50px;
	}

	/* Membership Page */

	.membership-banner h1 {
		font-size: 60px;
		text-align: center;
	}

	.membership-banner p {
		text-align: center;
	}

	.membership-section .about {
		text-align: center;
	}

	.plan-profile {
		font-size: 35px;
	}

	.membership-join h2 {
		font-size: 35px;
	}

	.check-img {
		width: 45px;
	}

	/* Contact Us Page */

	.contact-banner h1 {
		font-size: 60px;
    	text-align: center;
	}

	.contact-banner p {
		text-align: center;
	}

	.contact-us-section {
		margin-top: -170px;
	}

	.contact-us-section h2 {
		font-size: 45px;
	}

	.contact-us-section .submit-btn {
		padding: 21px 70px;
	}

	/* Events Page */

	.events-banner h1 {
		font-size: 60px;
    	text-align: center;
	}

	.events-banner p {
		text-align: center;
	}

	.fc-toolbar-chunk {
		width: 100%;
	}

	.tnnh-row h2 {
		text-align: center;
	}

	.tnnh-row p {
		text-align: center;
	}

	.tnnh-row button {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.events-section .event-dates {
		float: left;
		padding: 120px 10px;
	}

	.events-section .event-names {
		float: left;
		padding: 120px 0px;
	}

	.row.element-item.conventions.hosting.networking {
		width: 100%;
	}

	.isotop-grid .element-item {
		width: 100%;
	}

	.tnnh-row h2 {
		text-align: center;
	}

	.tnnh-row p {
		text-align: center;
	}

	.tnnh-row button {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	/* Join The Network Page */

	.join-network-banner h1 {
		font-size: 60px;
    	text-align: center;
	}

	.join-network-banner p {
    	text-align: center;
	}

	.join-network-section h2 {
		font-size: 45px;
	}

	.join-network-section .submit-btn {
		padding: 21px 70px;
	}

	/* Healtcare Agencies Page */

	.healthcare-banner h1 {
		font-size: 60px;
    	text-align: center;
	}

	.healthcare-banner p {
    	text-align: center;
	}

	.healthcare-section .card .card-header h3 {
		font-size: 30px;
	}

	/* Blogs Page */

	.blogs-banner h1 {
		font-size: 60px;
		text-align: center;
	}

	.blogs-banner p {
		text-align: center;
	}

	.content-blog h3 {
		font-size: 30px;
	}

	/* Membership Tiers Page */

	.membership-tiers h1 {
		font-size: 50px;
	}

	.membership-plan p {
		text-align: left;
	}

	.membership-tiers h2 {
		font-size: 40px;
	}

	.membership-profile-plan p span {
		font-size: 20px;
	}

	/* Membership Cost */

	.membership-cost h1 {
    	font-size: 50px;
	}

	.membership-cost h3 {
		font-size: 30px;
	}

	.membership-cost .profile-card .card-body {
		padding: 41px;
	}

	/* Sign Up Page */

	.signup-section h1 {
		font-size: 50px;
	}

	.wizard-v1-content .wizard-form {
		padding: 40px 0px;
		width: auto;
	}

	.picture {
		width: 135px;
		height: 135px;
	}

	.file-upload {
		left: 30px;
	}

	.image-size {
		left: 30px;
	}

	.inner h3 {
		font-size: 35px;
	}

	.continue-btn {
		padding: 20px 70px;
	}

	.emp-record {
		width: 50%;
	}

	.past-exp {
		width: 50%;
		text-align: right;
		padding-top: 8px;
	}

	.reference {
		width: 50%;
	}

	.reference-check {
		width: 50%;
		text-align: right;
		padding-top: 8px;
	}

	/* Payment Page */

	.payment-section h1 {
		font-size: 50px;
	}

	.select-plan-card .form-check {
		width: 50%;
		float: left;
	}

	.payment-section h3 {
		font-size: 30px;
	}

	.sub-pay-price {
		width: 50%;
		margin-bottom: 0px;
		float: right;
		text-align: right;
	}

	.payment-section h4 {
		font-size: 23px;
	}

	.payment-nav-tabs .nav-link {
		padding: 8px 12px;
	}

	.payment-card .card-body {
		padding: 40px 20px;
	}

	.profile-plan {
		margin-bottom: 0px;
	}


	/* Profile Page */

	.mobile-info, .email-info, .birth-date-info, .birth-year-info {
		display: flex;
		flex-direction: row;
	}

	.resume-info, .certificate-info {
		display: flex;
		flex-direction: row;
	}

	.share-profile {
		display: block;
		margin: 10px auto;
		text-align: center;
	}

	.user-profile-img {
		width: 125px;
		height: 125px;
	}

	.user-profile h3 {
		font-size: 40px;
	}

	.member-profile h4 {
		font-size: 27px;
	}

	.member-profile-content {
		padding: 46px 10px;
	}

	.share-profile-btn {
		float: right;
	}

	.member-profile-content .modal-title {
		font-size: 32px;
	}

	.member-profile .card .card-body {
		padding: 52px 40px;
	}

	.notification-content {
		padding: 80px 45px;
	}
	
	.notification-content h3 {
		font-size: 32px;
	}

	.member-profile-body .pdf-icon {
		float: left;
	}

	.member-profile-body .certificate {
		margin-left: 65px;
		padding-top: 10px;
	}

	/* Footer */

	.ftco-footer-social img {
		width: 45px;
	}

}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

	.ripple img {
		width: 45px;
	}

	.site-navbar .site-navigation .site-menu > li > a {
		margin-left: 10px;
		margin-right: 10px;
	}

	.navbar-expand-xl .navbar-nav .nav-link {
		padding-right: 9px;
		padding-left: 9px;
	}

	.site-navbar .nav-link {
		font-size: 14px;
	}
	
	.site-navbar .logo {
		width: 200px;
	}

	.login-body {
		padding: 84px 74px;
	}

	.login-body h2 {
		font-size: 60px;
	}
	
	/* Home Page */

	.welcome {
		font-size: 80px;
	}
	
	.tnn {
		font-size: 100px;
	}

	.home-events .card .card-body {
		padding: 15px 105px;
	}

	.home-events h2 {
		font-size: 70px;
	}

	.event-dates {
		float: left;
		padding: 27.5px 30px 27.5px 15px;
	}

	.event-names {
		padding: 27.5px 0px 15px;
	}

	.event-date {
		font-size: 30px;
	}

	.event-name {
		font-size: 30px;
	}

	.choose-destination {
		font-size: 70px;
	}

	.and {
		font-size: 80px;
	}

	.adventure {
		font-size: 90px;
	}

	.banner p {
		font-size: 22px;
	}

	.event-img {
		width: 30%;
	}

	.event-date {
		font-size: 23px;
	}

	.event-dates {
		padding: 20px 0px 20px 10px;
		width: 25%;
	}

	.event-names {
		padding: 20px 0px 0px;
		width: 45%;
	}

	.event-time {
		font-size: 17px;
	}

	.event-name {
		font-size: 23px;
	}

	.event-place {
		font-size: 17px;
	}

	.home-events ul li {
		font-size: 25px;
	}

	.company h2 {
		font-size: 65px;
	}

	.companies h2 {
		font-size: 65px;
	}

	#mapchart {
		height: 500px;
	}

	/* About Us Page */
	
	.about-row {
		position: relative;
	}
	
	.about-img {
		position: relative;
	}
	
	.about-card {
		position: absolute;
		left: 710px;
		top: 95px;
	}

	.about-banner .are {
		font-size: 80px;
	}

	.about-banner .worker {
		font-size: 100px;
	}

	.about-travel {
		font-size: 45px;
	}

	.about-card .card .card-body {
		padding: 80px 65px;
	}

	.about2 {
		font-size: 80px;
	}

	.about3 {
		font-size: 90px;
	}

	.mission-card {
		width: 50%;
		float: left;
	}
	
	.mission-card .card-body {
		padding: 78px 76px;
	}
	
	.vision-card {
		width: 50%;
	}

	.vision-card .card-body {
		padding: 78px 76px;
	}

	.mission-card h3 {
		font-size: 60px;
	}

	.vision-card h3 {
		font-size: 60px;
	}
	
	.our-team {
		font-size: 80px;
	}

	/* Membership Page */

	.membership-banner h1 {
		font-size: 80px;
	}

	.plan-profile {
		font-size: 40px;
		line-height: 60px;
	}

	.membership-section .card .card-body {
		padding: 50px 17px 84px;
	}

	.membership-join h2 {
		font-size: 60px;
	}

	.plan-rates {
		font-size: 20px;
		line-height: 30px;
	}

	.membership-join h2 {
		font-size: 40px;
	}

	.check-img {
		width: 45px;
	}
	
	/* Contact Us Page */

	.contact-banner h1 {
		font-size: 80px;
	}

	.contact-us-section h2 {
		font-size: 55px;
	}

	.contact-us-section {
		margin-top: -170px;
	}

	.contact-us-section .submit-btn {
		padding: 21px 106px;
	}

	.attach-btn {
		padding: 15px 42px 15px 29px;
	}

	/* Events Page */

	.events-banner h1 {
		font-size: 80px;
	}

	.events-section .event-names {
		padding: 20px 0px;
		width: 45%;
	}

	/* Join The Network Page */

	.join-network-banner h1 {
		font-size: 80px;
	}

	.join-network-section h2 {
		font-size: 55px;
	}

	.join-network-section .submit-btn {
		padding: 21px 106px;
	}

	/* Healthcare Agencies Page */

	.healthcare-banner h1 {
		font-size: 80px;
	}

	.healthcare-section .card .card-header h3 {
		font-size: 40px;
	}

	.healthcare-section h4 {
		font-size: 24px;
	}

	/* Blogs Page */

	.blogs-banner h1 {
		font-size: 80px;
	}

	.content-blog h3 {
		font-size: 30px;
	}

	.blogs1-row {
		position: relative;
	}

	.image-blog1 {
		position: relative;
	}

	.image-blog1 img {
		width: 750px;
	}

	.content-blog1 {
		position: absolute;
		left: 690px;
		top: 210px;
	}

	.content-blog1 .card .card-body {
		padding: 20px 25px;
	}

	/* Membership Tiers Page */

	.membership-tiers h1 {
		font-size: 60px;
	}

	.membership-plan p {
		text-align: left;
	}

	.membership-tiers h2 {
		font-size: 50px;
	}

	.membership-profile-plan p span {
		font-size: 22px;
	}

	.membership-profile-plan {
		margin-bottom: 5px;
	}

	/* Membership Cost */

	.membership-cost h1 {
    	font-size: 60px;
	}

	.membership-cost h3 {
		font-size: 33px;
	}

	.membership-cost .profile-card .card-body {
		padding: 41px;
	}

	/* Sign Up Page */

	.signup-section h1 {
		font-size: 60px;
	}

	.wizard-v1-content .wizard-form {
		padding: 40px 0px;
		width: auto;
	}

	.picture {
		width: 140px;
		height: 140px;
	}

	.file-upload {
		left: 35px;
	}

	.image-size {
		left: 35px;
	}

	.inner h3 {
		font-size: 40px;
	}

	.continue-btn {
		padding: 20px 80px;
	}

	.emp-record {
		width: 50%;
	}

	.past-exp {
		width: 50%;
		text-align: right;
		padding-top: 8px;
	}

	.reference {
		width: 50%;
	}

	.reference-check {
		width: 50%;
		text-align: right;
		padding-top: 8px;
	}

	/* Payment Page */

	.payment-section h1 {
		font-size: 60px;
	}

	.select-plan-card .form-check {
		width: 50%;
		float: left;
	}

	.payment-section h3 {
		font-size: 30px;
	}

	.sub-pay-price {
		width: 50%;
		margin-bottom: 0px;
		float: right;
		text-align: right;
	}

	.payment-section h4 {
		font-size: 25px;
	}

	.payment-nav-tabs .nav-link {
		padding: 8px 12px;
	}

	.payment-card .card-body {
		padding: 40px 20px;
	}

	/* Profile Page */

	.mobile-info, .email-info, .birth-date-info, .birth-year-info {
		display: flex;
		flex-direction: row;
	}

	.resume-info, .certificate-info {
		display: flex;
		flex-direction: row;
	}

	.share-profile {
		display: block;
		margin: 10px auto;
		text-align: center;
	}

	.member-profile-body h5 {
		font-size: 22px;
	}

	.user-profile-img {
		width: 130px;
		height: 130px;
	}

	.user-profile h3 {
		font-size: 46px;
	}

	.member-profile h4 {
		font-size: 32px;
	}

	.member-profile-content {
		padding: 46px 10px;
	}

	.share-profile-btn {
		float: right;
	}

	.profile-section .nav-link {
		font-size: 22px;
	}

	.member-profile-content .modal-title {
		font-size: 36px;
	}

	.member-profile .card .card-body {
		padding: 52px 47px;
	}

	.notification-content {
		padding: 80px 54px;
	}
	
	.notification-content h3 {
		font-size: 36px;
	}

	.member-profile-body .pdf-icon {
		float: left;
	}

	.member-profile-body .certificate {
		margin-left: 65px;
		padding-top: 10px;
	}

	/* Footer */

	.ftco-footer-social img {
		width: 45px;
	}
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {

	.navbar-expand-xl .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.fa-magnifying-glass {
		font-size: 28px;
		font-weight: 600;
	}

	.login-body {
		padding: 84px 74px;
	}	

	.login-body h2 {
		font-size: 70px;
	}

	/* Home Page */

	.banner-slider .owl-dots {
		text-align: left;
		position: absolute;
		bottom: 60px;
		left: 220px;
		width: 100px;
	}

	.banner-slider .owl-nav button.owl-prev, .banner-slider .owl-nav button.owl-prev, .banner-slider button.owl-dot.owl-nav {
		position: absolute;
		left: 180px;
		bottom: 18px;
		background-color: transparent;
		display: block;
		padding: 0 .3em !important;
		font-size: 3em;
		margin: 0;
		cursor: pointer;
		color: var(--white-color) !important;
		transform: translate(-50%, -50%);
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
	
	.banner-slider .owl-nav button.owl-next, .banner-slider .owl-nav button.owl-next, .banner-slider button.owl-dot.owl-nav {
		position: absolute;
		left: 340px;
		bottom: 18px;
		background-color: transparent;
		display: block ;
		padding: 0 .3em !important;
		font-size: 3em ;
		margin: 0;
		cursor: pointer;
		color: var(--white-color) !important;
		transform: translate(-50%, -50%);
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}

	.arrow-row {
		position: absolute;
		left: 50%;
		bottom: 40px;
	}

	.welcome {
		font-size: 100px;
	}
	
	.tnn {
		font-size: 130px;
	}

	.home-events .row {
		padding-right: 1.2rem;
		padding-left: 1.2rem
	}

	.home-events .card .card-body {
		padding: 20px 105px;
	}

	.home-events h2 {
		font-size: 90px;
	}

	.banner p {
		font-size: 22px;
	}

	.event-dates {
		float: left;
		padding: 27.5px 13px 27.5px 13px;
	}

	.event-names {
		padding: 27.5px 0px 15px;
	}

	.event-date {
		font-size: 26px;
	}

	.event-time {
		font-size: 17px;
	}

	.event-name {
		font-size: 26px;
	}

	.event-place {
		font-size: 17px;
	}

	.choose-destination {
		font-size: 80px;
	}

	.and {
		font-size: 90px;
	}

	.adventure {
		font-size: 110px;
	}

	.company h2 {
		font-size: 80px;
	}

	.companies h2 {
		font-size: 80px;
	}

	.home-events ul li {
		font-size: 28px;
	}

	#mapchart {
		height: 500px;
	}

	/* About Us Page */
	
	.about-row {
		position: relative;
	}
	
	.about-img {
		position: relative;
	}
	
	.about-card {
		position: absolute;
		left: 710px;
		top: 95px;
	}

	.about-banner .are {
		font-size: 90px;
	}

	.about-banner .worker {
		font-size: 110px;
	}

	.about-travel {
		font-size: 60px;
	}

	.about-card .card .card-body {
		padding: 165px 92px;
	}

	.about2 {
		font-size: 80px;
	}

	.about3 {
		font-size: 110px;
	}

	.mission-card {
		width: 50%;
		float: left;
	}
	
	.mission-card .card-body {
		padding: 78px 76px;
	}
	
	.vision-card {
		width: 50%;
	}

	.vision-card .card-body {
		padding: 78px 76px;
	}

	.mission-card h3 {
		font-size: 70px;
	}

	.vision-card h3 {
		font-size: 70px;
	}
	
	.our-team {
		font-size: 90px;
	}

	/* Membership Page */

	.membership-banner h1 {
		font-size: 90px;
	}

	.plan-profile {
		font-size: 50px;
		line-height: 60px;
	}

	.membership-section .card .card-body {
		padding: 50px 47px 84px;
	}

	.membership-join h2 {
		font-size: 50px;
	}

	.plan-rates {
		font-size: 25px;
		line-height: 30px;
	}

	.membership-join h2 {
		font-size: 50px;
	}

	.check-img {
		width: 49px;
	}
	
	/* Contact Us Page */

	.contact-banner h1 {
		font-size: 90px;
	}

	.contact-us-section h2 {
		font-size: 65px;
	}

	.contact-us-section {
		margin-top: -170px;
	}

	.contact-us-section .submit-btn {
		padding: 21px 106px;
	}

	.attach-btn {
		padding: 15px 42px 15px 29px;
	}

	/* Events Page */

	.events-banner h1 {
		font-size: 90px;
	}

	.events-section .event-dates {
		float: left;
    	padding: 30.5px 13px 48.5px;
	}

	.events-section .event-names {
		float: left;
    	padding: 30.5px 13px 48.5px;
	}
	
	.tnnh-row h2 {
		font-size: 35px;
	}

	/* Join The Network Page */

	.join-network-banner h1 {
		font-size: 90px;
	}

	.join-network-section h2 {
		font-size: 65px;
	}

	.join-network-section .submit-btn {
		padding: 21px 106px;
	}

	/* Healthcare Agencies Page */

	.healthcare-banner h1 {
		font-size: 90px;
	}

	.healthcare-section .card .card-header h3 {
		font-size: 45px;
	}

	.healthcare-section h4 {
		font-size: 24px;
	}

	/* Blogs Pages */

	.blogs-banner h1 {
		font-size: 90px;
	}

	.blogs1-row {
		position: relative;
	}
	
	.image-blog1 {
		position: relative;
	}
	
	.content-blog1 {
		position: absolute;
		left: 825px;
		top: 149px;
	}

	.blogs2-row .card .card-body {
		padding: 40px 44px 55px;
	}

	.content-blog h3 {
		font-size: 40px;
	}
	
	.content-blog p {
		font-size: 22px;
	}

	/* Membership Tiers Page */

	.membership-tiers h1 {
		font-size: 70px;
	}

	.membership-plan p {
		text-align: left;
	}

	.membership-tiers h2 {
		font-size: 50px;
	}

	.membership-profile-plan p span {
		font-size: 24px;
	}

	.membership-profile-plan {
		margin-bottom: 10px;
	}

	.profile-plan {
		margin-bottom: 5px;
	}

	/* Membership Cost */

	.membership-cost h1 {
    	font-size: 70px;
	}

	.membership-cost h3 {
		font-size: 36px;
	}

	.membership-cost .profile-card .card-body {
		padding: 41px 43px;
	}

	/* Sign Up Page */

	.signup-section h1 {
		font-size: 70px;
	}

	.wizard-v1-content .wizard-form {
		padding: 40px 0px;
		width: auto;
	}

	.picture {
		width: 140px;
		height: 140px;
	}

	.file-upload {
		left: 35px;
	}

	.image-size {
		left: 35px;
	}

	.inner h3 {
		font-size: 40px;
	}

	.continue-btn {
		padding: 20px 90px;
	}

	.emp-record {
		width: 50%;
	}

	.past-exp {
		width: 50%;
		text-align: right;
		padding-top: 8px;
	}

	.reference {
		width: 50%;
	}

	.reference-check {
		width: 50%;
		text-align: right;
		padding-top: 8px;
	}

	/* Payment Page */

	.payment-section h1 {
		font-size: 70px;
	}

	.select-plan-card .form-check {
		width: 50%;
		float: left;
	}

	.payment-section h3 {
		font-size: 35px;
	}

	.sub-pay-price {
		width: 50%;
		margin-bottom: 0px;
		float: right;
		text-align: right;
	}

	.payment-section h4 {
		font-size: 27px;
	}

	.payment-nav-tabs .nav-link {
		padding: 8px 12px;
	}

	.payment-card .card-body {
		padding: 40px 20px;
	}

	/* Profile Page */

	.mobile-info, .email-info, .birth-date-info, .birth-year-info {
		display: flex;
		flex-direction: row;
	}

	.resume-info, .certificate-info {
		display: flex;
		flex-direction: row;
	}

	.share-profile {
		display: block;
		margin: 10px auto;
		text-align: center;
	}

	.member-profile-body h5 {
		font-size: 22px;
	}

	.user-profile-img {
		width: 130px;
		height: 130px;
	}

	.user-profile h3 {
		font-size: 54px;
	}

	.member-profile h4 {
		font-size: 37px;
	}

	.member-profile-content {
		padding: 46px 10px;
	}

	.share-profile-btn {
		float: right;
	}

	.profile-section .nav-link {
		font-size: 22px;
	}

	.member-profile-content .modal-title {
		font-size: 36px;
	}

	.member-profile {
		margin-top: 70px !important;
	}

	.member-profile .card .card-body {
		padding: 52px 47px;
	}

	.notification-content {
		padding: 80px 60px;
	}
	
	.notification-content h3 {
		font-size: 41px;
	}

	.member-profile-body .pdf-icon {
		float: left;
	}

	.member-profile-body .certificate {
		margin-left: 65px;
		padding-top: 10px;
	}

	/* Footer */

	.ftco-footer-social img {
		width: 51px;
	}

}

@media only screen and (min-width: 1600px) {

	.navbar-expand-xl .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.fa-magnifying-glass {
		font-size: 28px;
		font-weight: 600;
	}

	.login-body {
		padding: 84px 74px;
	}

	.login-body h2 {
		font-size: 80px;
	}	

	/* Home Page */

	.welcome {
		font-size: 100px;
	}
	
	.tnn {
		font-size: 130px;
	}

	.home-events .card .card-body {
		padding: 25px 95px;
	}

	.home-events h2 {
		font-size: 100px;
		line-height: 100px;
	}

	.banner p {
		font-size: 22px;
	}

	.event-dates {
		float: left;
		padding: 27.5px 13px 27.5px 13px;
	}

	.event-names {
		padding: 27.5px 0px 15px;
	}

	.event-date {
		font-size: 30px;
	}

	.event-time {
		font-size: 18px;
	}

	.event-name {
		font-size: 30px;
	}

	.event-place {
		font-size: 18px;
	}

	.choose-destination {
		font-size: 90px;
	}

	.and {
		font-size: 100px;
	}

	.adventure {
		font-size: 130px;
	}

	.company h2 {
		font-size: 100px;
	}

	.companies h2 {
		font-size: 100px;
	}

	.home-events ul li {
		font-size: 30px;
	}

	#mapchart {
		height: 500px;
	}

	/* About Us Page */
	
	.about-row {
		position: relative;
	}
	
	.about-img {
		position: relative;
	}
	
	.about-card {
		position: absolute;
		left: 710px;
		top: 95px;
	}

	.about-banner .are {
		font-size: 100px;
	}

	.about-banner .worker {
		font-size: 130px;
	}

	.about-banner p {
		font-size: 22px;
	}

	.about-travel {
		font-size: 70px;
	}

	.about-card .card .card-body {
		padding: 100px 92px;
	}


	.about2 {
		font-size: 90px;
	}

	.about3 {
		font-size: 130px;
	}

	.mission-card {
		width: 50%;
		float: left;
	}
	
	.mission-card .card-body {
		padding: 78px 76px;
	}
	
	.vision-card {
		width: 50%;
	}

	.vision-card .card-body {
		padding: 78px 76px;
	}

	.mission-card h3 {
		font-size: 80px;
	}

	.vision-card h3 {
		font-size: 80px;
	}
	
	.our-team {
		font-size: 100px;
	}

	/* Membership Page */

	.membership-banner h1 {
		font-size: 100px;
	}

	.plan-profile {
		font-size: 59px;
		line-height: 60px;
	}

	.membership-section .card .card-body {
		padding: 50px 47px 84px;
	}

	.membership-join h2 {
		font-size: 60px;
	}

	.plan-rates {
		font-size: 30px;
		line-height: 30px;
	}
	
	/* Contact Us Page */

	.contact-banner h1 {
		font-size: 100px;
	}

	.contact-us-section h2 {
		font-size: 80px;
	}

	.contact-us-section {
		margin-top: -170px;
	}

	.contact-us-section .submit-btn {
		padding: 21px 106px;
	}

	.attach-btn {
		padding: 15px 42px 15px 29px;
	}

	/* Join The Network Page */

	.join-network-section {
		margin-top: -170px;
	}

	.join-network-section button {
		width: 25%;
	}

	.join-network-banner h1 {
		font-size: 100px;
	}

	.join-network-section h2 {
		font-size: 80px;
	}

	.join-network-section .card .card-body {
		padding: 85px 60px;
	}

	/* Events Page */

	.events-banner h1 {
		font-size: 100px;
	}

	.events-banner h1 {
		font-size: 100px;
	}

	.events-section .event-dates {
		float: left;
    	padding: 30.5px 13px 48.5px;
	}

	.events-section .event-names {
		float: left;
    	padding: 30.5px 13px 48.5px;
	}
	
	.tnnh-row h2 {
		font-size: 35px;
	}

	/* Healthcare Agencies Page */

	.healthcare-banner h1 {
		font-size: 100px;
	}

	.healthcare-section .card .card-header h3 {
		font-size: 45px;
	}

	.healthcare-section h4 {
		font-size: 24px;
	}

	/* Blogs Pages */

	.blogs-banner h1 {
		font-size: 100px;
	}

	.blogs1-row {
		position: relative;
	}
	
	.image-blog1 {
		position: relative;
	}
	
	.content-blog1 {
		position: absolute;
		left: 825px;
		top: 149px;
	}

	.blogs2-row .card .card-body {
		padding: 40px 44px 55px;
	}

	.content-blog h3 {
		font-size: 45px;
	}
	
	.content-blog p {
		font-size: 22px;
	}

	/* Membership Tiers Page */

	.membership-tiers h1 {
		font-size: 80px;
	}

	.membership-tiers h2 {
		font-size: 60px;
	}

	.membership-profile-plan p span {
		font-size: 26px;
	}

	.profile-plan {
		margin-bottom: 10px;
	}

	/* Memebership Cost Page */

	.membership-cost h1 {
		font-size: 80px;
	}
	
	.membership-cost h3 {
		font-size: 40px;
	}

	/* Sign Up Page */

	.signup-section h1 {
		font-size: 80px;
	}

	.wizard-v1-content .wizard-form {
		padding: 40px 0px;
		width: auto;
	}

	.picture {
		width: 150px;
		height: 150px;
	}

	.file-upload {
		left: 35px;
	}

	.image-size {
		left: 35px;
	}

	.inner h3 {
		font-size: 45px;
	}

	.continue-btn {
		padding: 20px 90px;
	}

	.emp-record {
		width: 50%;
	}

	.past-exp {
		width: 50%;
		text-align: right;
		padding-top: 8px;
	}

	.reference {
		width: 50%;
	}

	.reference-check {
		width: 50%;
		text-align: right;
		padding-top: 8px;
	}

	/* Payment Page */

	.payment-section h1 {
		font-size: 80px;
	}

	.select-plan-card .form-check {
		width: 50%;
		float: left;
	}

	.payment-section h3 {
		font-size: 40px;
	}

	.sub-pay-price {
		width: 50%;
		margin-bottom: 0px;
		float: right;
		text-align: right;
	}

	.payment-section h4 {
		font-size: 30px;
	}

	.payment-nav-tabs .nav-link {
		padding: 8px 12px;
	}

	.payment-card .card-body {
		padding: 40px 20px;
	}

	/* Profile Page */

	.mobile-info, .email-info, .birth-date-info, .birth-year-info {
		display: flex;
		flex-direction: row;
	}

	.resume-info, .certificate-info {
		display: flex;
		flex-direction: row;
	}

	.share-profile {
		display: block;
		margin: 10px auto;
		text-align: center;
	}

	.member-profile-body h5 {
		font-size: 22px;
	}

	.user-profile-img {
		width: 130px;
		height: 130px;
	}

	.user-profile h3 {
		font-size: 60px;
	}

	.member-profile h4 {
		font-size: 45px;
	}

	.member-profile-content {
		padding: 46px 54px;
	}

	.share-profile-btn {
		float: right;
	}

	.profile-section .nav-link {
		font-size: 24px;
	}

	.member-profile-content .modal-title {
		font-size: 36px;
	}

	.member-profile {
		margin-top: 70px !important;
	}

	.member-profile .card .card-body {
		padding: 52px 47px;
	}

	.mobile-row p {
		font-size: 22px;
	}

	.email-row p {
		font-size: 22px;
	}

	.birth-date-row p {
		font-size: 22px;
	}

	.birth-year-row p {
		font-size: 22px;
	}

	.notification-content {
		padding: 80px 64px;
	}
	
	.notification-content h3 {
		font-size: 45px;
	}

	.resume-row p {
		font-size: 22px;
	}

	.certificate-row p {
		font-size: 22px;
	}

	.member-profile-body .pdf-icon {
		float: left;
	}

	.member-profile-body .certificate {
		margin-left: 65px;
		padding-top: 10px;
	}

	/* Footer */

	.ftco-footer-social img {
		width: 51px;
	}
}