@media (max-width: 991.98px) {
	.site-navbar .site-logo {
		float: left;
		position: relative;
	}
}

@media (max-width: 991.98px) {
	.sticky-wrapper .shrink {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}
}

@media only screen and (min-width:1200px) {

	.welcome {
		font-size: 100px;
	}
	
	.tnn {
		font-size: 130px;
	}

	.home-events h2 {
		font-size: 90px;
	}

	.choose-destination {
		font-size: 90px;
	}

	.and {
		font-size: 100px;
	}

	.adventure {
		font-size: 130px;
	}

	.company h2 {
		font-size: 100px;
	}

	.companies h2 {
		font-size: 100px;
	}


	.plan-profile {
		font-size: 59px;
		line-height: 60px;
	}

	.contact-us-section h2 {
		font-size: 80px;
	}

	
	.join-network-section h2 {
		font-size: 80px;
	}
}