:root {
    --primary-color: #0B3C67;
	--secondary-color: #1977CC;
	--tertiary-color: #024F96;
	--fourth-color: #35A7E6;
	--fifth-color: #292929;
	--sixth-color: #686868;
	--seventh-color: #9d9d9d;
	--eight-color: #f2f3f5;
	--ninth-color: #D1E4F5;
    --black-color: #000;
    --white-color: #fff;
	--red-color: #ff0000;
	--border-color: #BCBCBC;
	--bg-color1: #f2f2f2;
	--bg-color2: #efefef;
	--upload-btn: #dfdfdf;
    --font-family: 'Poppins';
	--font-family2: 'Scotch Display Condensed Fat';
	--font-family3: 'Billy Ohio Regular';
    --font-size: 16px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

a {
	text-decoration: none;
}

.btn-primary {
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	text-transform: uppercase;
}

/* Header */

.site-navbar {
	margin-bottom: 0px;
	z-index: 1;
	position: relative;
	top: 0;
	width: 100%;
	padding: 0.5rem 0rem;
}

.site-navbar .navbar {
	padding: 0px;
}

/* .site-navbar .toggle-button {
	position: absolute;
	right: 0px;
}

.site-navbar .site-logo {
	margin: 0;
	padding: 0;
	font-size: 1.7rem;
}

.site-navbar .site-logo a {
	color: #89ba16;
	text-transform: lowercase;
}

.site-navbar .site-navigation.border-bottom {
	border-bottom: 1px solid var(--white-color) !important;
}

.site-navbar .site-navigation .site-menu {
	margin: 0;
	padding: 0;
	margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
	color: var(--black-color) !important;
}

.site-navbar .site-navigation .site-menu a {
	text-decoration: none !important;
	display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
	display: inline-block;
}

.site-navbar .site-navigation .site-menu > li > a {
	margin-left: 7px;
	margin-right: 7px;
	padding: 20px 0px;
	color: var(--black-color) !important;
	display: inline-block;
	text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
	color: var(--black-color);
}

.site-navbar .site-navigation .site-menu > li.active > a {
	color: var(--black-color) !important;
}

.site-navbar .site-navigation .site-menu .has-children {
	position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
	position: relative;
	padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
	position: absolute;
	content: "\e313";
	font-size: 16px;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
	visibility: hidden;
	opacity: 0;
	top: 100%;
	position: absolute;
	text-align: left;
	border-top: 2px solid #89ba16;
	-webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
	padding: 0px 0;
	margin-top: 20px;
	margin-left: 0px;
	background: #fff;
	-webkit-transition: 0.2s 0s;
	-o-transition: 0.2s 0s;
	transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
	position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
	display: none;
	bottom: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: var(--white-color);
	border-width: 10px;
	margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
	text-transform: none;
	letter-spacing: normal;
	-webkit-transition: 0s all;
	-o-transition: 0s all;
	transition: 0s all;
	color: var(--black-color) !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
	color: #89ba16 !important;
	background: #f8f9fa;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
	list-style: none;
	padding: 0;
	margin: 0;
	min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
	padding: 9px 20px;
	display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
	background: #f8f9fa;
	color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
	content: "\e315";
	right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
	left: 100%;
	top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
	background: #f8f9fa;
	color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
	color: #89ba16;
}

.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
	cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	margin-top: 0px;
	visibility: visible;
	opacity: 1;
}

.site-mobile-menu {
	width: 300px;
	position: fixed;
	right: 0;
	z-index: 2000;
	padding-top: 20px;
	background: var(--white-color);
	height: calc(100vh);
	-webkit-transform: translateX(110%);
	-ms-transform: translateX(110%);
	transform: translateX(110%);
	-webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
	box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
	-webkit-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
	width: 100%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
	float: right;
	margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
	font-size: 30px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 0px;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
	color: #ced4da;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
	float: left;
	margin-top: 10px;
	margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
	display: inline-block;
	text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
	max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
	text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	padding: 0 20px 20px 20px;
	height: calc(100vh - 52px);
	padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

.site-mobile-menu .site-nav-wrap a {
	padding: 10px 20px;
	display: block;
	position: relative;
	color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
	color: #89ba16;
}

.site-mobile-menu .site-nav-wrap li {
	position: relative;
	display: block;
}

.site-mobile-menu .site-nav-wrap li .nav-link.active {
	color: #89ba16;
}

.site-mobile-menu .site-nav-wrap li.active > a {
	color: #89ba16;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
	position: absolute;
	right: 0px;
	top: 10px;
	z-index: 20;
	width: 36px;
	height: 36px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
	background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
	font-size: 12px;
	z-index: 20;
	font-family: "icomoon";
	content: "\f078";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-180deg);
	-ms-transform: translate(-50%, -50%) rotate(-180deg);
	transform: translate(-50%, -50%) rotate(-180deg);
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
	padding-left: 20px;
	font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
	display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
	padding-left: 40px;
	font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
	padding: 0;
	margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
	display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
	font-size: 16px;
	padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
	float: left;
	width: 100%;
	margin-top: 30px;
	padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
	width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
	padding-left: 15px !important;
}

.sticky-wrapper {
	position: relative;
	z-index: 100;
	width: 100%;
	position: relative;
	top: 0;
}

.sticky-wrapper .site-navbar {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.sticky-wrapper .site-navbar {
	background: #fff;
}

.sticky-wrapper .site-navbar ul li a {
	color: rgba(0, 0, 0, 0.7) !important;
}

.sticky-wrapper .site-navbar ul li a.active {
	color: #000 !important;
}

.sticky-wrapper.is-sticky .site-navbar {
	background: #fff;
	-webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
	box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
	color: #89ba16;
}

.sticky-wrapper.is-sticky .site-navbar ul li a {
	color: #000 !important;
}

.sticky-wrapper.is-sticky .site-navbar ul li a.active {
	color: #89ba16 !important;
}

.sticky-wrapper .shrink {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
} */

/* Floating Menu */

.floating-menu {
	border-radius: 100px;
	z-index: 999;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 0;
	position: fixed;
	display: inline-block;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.main-menu {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

/* .ripple {
	display: block;
	padding: 12px 15px;
	color: var(--secondary-color);
	border-radius: 50px;
	position: relative;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	background-color: var(--white-color);
	height: 50px;
	width: 50px;
	font-size: 20px;
	text-align: center;
} */

.ripple:hover {
	background: rgba(244,244,244,.3);
}

.menu-bg {
	background-color: transparent;
	background-repeat: repeat-x;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	z-index: -1;
	top: 0;
	left: 0;
	-webkit-transition: .1s;
	-o-transition: .1s;
	transition: .1s;
}

.ripple {
	position: relative;
	overflow: hidden;
	transform: translate3d(0,0,0);
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.35);
}

.ripple:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle,#000 10%,transparent 10.01%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10,10);
	opacity: 0;
	transition: transform .5s,opacity 1s;
}

.ripple:active:after {
	transform: scale(0,0);
	opacity: .2;
	transition: 0s;
}

.form-check-input:focus {
    border-color: #0d6efd;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    background: #0d6efd;
}

/* Home */

.banner {
	background-image: url(../images/home-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 180px;
	padding-bottom: 60px;
}

.welcome {
	color: var(--white-color);
	margin-bottom: 0px;
	font-family: var(--font-family2);
}

.tnn {
	color: var(--white-color);
	font-family: var(--font-family3);
}

.banner p {
	color: var(--white-color);
}

.custom-btn {
	background-color: var(--white-color);
	border: 1px solid var(--white-color);
	color: var(--secondary-color);
	padding: 5px 35px;
}

button.owl-prev, button.owl-next {
    color: #fff !important;
	font-size: 20px !important;
}

.banner-slider .owl-dots {
	text-align: left;
    position: relative;
    top: 17px;
    left: 40px;
	width: 100px;
}

.banner-slider .owl-dots .owl-dot span {
	width: 13px;
    height: 13px;
	border: 2px solid var(--white-color);
	background: transparent;
}

.banner-slider .owl-dots .owl-dot.active span, .banner-slider .owl-dots .owl-dot:hover span {
	background: var(--white-color);
}

.banner-slider .owl-nav button.owl-prev, .banner-slider .owl-nav button.owl-prev, .banner-slider button.owl-dot.owl-nav {
    position: absolute;
    left: 15px;
    top: 100%;
    background-color: transparent;
    display: block;
    padding: 0 .3em !important;
    font-size: 3em;
    margin: 0;
    cursor: pointer;
    color: var(--white-color) !important;
    transform: translate(-50%, -50%);
	width: 60px;
    height: 60px;
	border-radius: 50%;
}

.banner-slider .owl-nav button.owl-next, .banner-slider .owl-nav button.owl-next, .banner-slider button.owl-dot.owl-nav {
    position: absolute;
    left: 150px;
    top: 100%;
    background-color: transparent;
    display: block ;
    padding: 0 .3em !important;
    font-size: 3em ;
    margin: 0;
    cursor: pointer;
    color: var(--white-color) !important;
    transform: translate(-50%, -50%);
	width: 60px;
    height: 60px;
	border-radius: 50%;
}

.banner-slider .fa-chevron-left, .banner-slider .fa-chevron-right {
	color: var(--white-color);
}

.fa-chevron-down {
	color: var(--white-color);
	font-size: 50px;
	padding-top: 100px;
}

.home-events {
	padding: 120px 0px 82px;
}

.home-events h2 {
	color: var(--primary-color);
	font-weight: 900;
	font-family: var(--font-family2);
	margin-bottom: 20px;
}

.event-img {
	float: left;
}

.event-dates {
	float: left;
}

.event-date {
	font-weight: 700;
	color: var(--fifth-color);
}

.event-time {
	color: var(--sixth-color);
	font-weight: 700;
}

.event-names {
	float: left;
}

.event-name {
	font-weight: 700;
	color: var(--fifth-color);
}

.event-place {
	font-weight: 700;
	color: var(--sixth-color);
}

hr {
	padding-bottom: 20px;
}

.destination {
	padding-bottom: 120px;
}

.choose-destination {
	padding-top: 43px;
	text-align: center;
	color: var(--primary-color);
	font-family: var(--font-family2);
	font-weight: 900;
	line-height: 1;
}

.and {
	text-align: center;
	color: var(--primary-color);
	font-family: var(--font-family2);
	font-weight: 900;
	line-height: 1;
}

.adventure {
	text-align: center;
	color: var(--primary-color);
	font-family: var(--font-family3);
	font-weight: 400;
}

.map {
	font-weight: 400;
	text-align: center;
}

.company {
	background-image: url(../images/company-background.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 107px 0px 78px;
}

.company h2 {
	color: var(--white-color);
	font-family: var(--font-family2);
	font-weight: 900;
}

.btn-filter {
	background-color: var(--white-color);
	color: var(--secondary-color);
	border-color: var(--white-color);
	padding: 15px 35px;
}

.companies {
	padding: 60px 0px;
}

.companies h2 {
	text-align: center;
	color: var(--primary-color);
	font-weight: 900;
	font-family: var(--font-family2);
}

.companies .row {
	padding-top: 50px;
}

div.carousel-nav-icon {
	background-color: var(--border-color);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	padding: 18.5px;
}

div.carousel-nav-icon > i {
    font-size: 20px;
	color: var(--secondary-color);
	font-weight: 900;
}

.companiescarousel, .companiescarousel .carousel-inner {
	padding: 10px 0;
}

.carousel-item .card {
	/* margin-left: 5px;
	margin-right: 5px; */
	background: var(--white-color);
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin: 0px 5px;
}

.carousel-item .card .card-body {
	padding: 55px;
}

.login-body h2 {
	font-weight: 900;
	color: var(--primary-color);
	font-family: var(--font-family2);
}

.login-body p {
	padding-top: 20px;
}

.login-body form {
	padding-top: 30px;
}

.login-body p span {
	color: var(--secondary-color);
	font-weight: 400;
}

.login-body i {
	position: absolute;
    right: 15px !important;
    top: 12px !important;
}

button#toggle-password {
	position: absolute;
	top: 3px;
	right: 4px;
	z-index: 9;
	width: 28px;
	height: 30px;
	background: 0;
	border: 0;
}
  
button#toggle-password:active,
button#toggle-password:focus,
button#toggle-password:hover {
	cursor: pointer;
}
  
  button#toggle-password:focus {
	outline: red !important;
}

.form-recovery {
	float: right;
}

/* Membership Tiers Page */

.membership-tiers {
	padding-bottom: 120px;
}

.membership-tiers p span {
	color: var(--primary-color);
	font-weight: 600;
}

.membership-tiers .card {
	border: 1px solid var(--white-color);
	border-radius: 10px;
}

.membership-tiers .card .card-header {
	background-color: var(--white-color);
	border: 1px solid var(--white-color);
	box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
	border-radius: 10px 10px 0px 0px;
}

.membership-tiers .card .card-body {
	background-color: var(--white-color);
	border-radius: 0px 0px 10px 10px;
}

.membership-tiers h1 {
	color: var(--primary-color);
	font-family: var(--font-family2);
	font-weight: 900;
	margin-bottom: 20px;
}

.membership-tiers h2 {
	color: var(--primary-color);
	font-family: var(--font-family2);
	font-weight: 900;
	margin-bottom: 20px;
}

.membership-tiers ul li {
	list-style: none;
	font-weight: 500;
}

.membership-tiers ul li i {
	color: var(--secondary-color);
	font-size: 24px;
}

.membership-cost {
	padding-bottom: 120px;
}

[data-bs-toggle="collapse"] .fa:before {
	content: "\f068";
	font-family: "Font Awesome 6 Free";
	font-style: normal;
}
  
[data-bs-toggle="collapse"].collapsed .fa:before {
	content: "\2b";
	font-family: "Font Awesome 6 Free";
	font-style: normal;
}

.membership-cost .faq-card {
	border: 1px solid var(--white-color)
}

.membership-cost .faq-card .card-header {
	border: 1px solid var(--white-color);
	background-color: var(--white-color);
	padding-left: 0px;
}

.membership-cost .faq-card .card-header a {
	font-weight: 600;
	padding-left: 0px;
}

.membership-cost .faq-card .card-body {
	padding-left: 0px;
}

.membership-cost .profile-card {
	border: 1px solid var(--secondary-color);
}

.membership-cost .profile-card .card-body {
	padding: 41px 43px;
}

.membership-cost h1 {
	color: var(--primary-color);
	font-family: var(--font-family2);
	font-weight: 900;
	margin-bottom: 40px;
}

.membership-cost h3 {
	font-family: var(--font-family2);
	font-weight: 900;
}

.membership-cost p span {
	font-weight: 600;
}

/* Sign Up Page */

.signup-section {
	margin: 60px 0px 120px;
}

.signup-section h1 {
	font-family: var(--font-family2);
	font-weight: 900;
	color: var(--primary-color);
	margin-bottom: 20px;
}

.wizard-v1-content {
	position: relative;
}

.wizard-v1-content .wizard-form {
	width: 100%;
	padding-top: 60px;
}

.wizard-form .wizard-header h3 {
	color: #333;
	font-size: 36px;
	font-weight: 800;
	margin: 0;
}

.wizard-form .wizard-header p {
	color: #666;
	font-size: 16px;
	font-weight: 600;
	margin: 6px 0 26px;
}

.form-register .steps {
	margin-bottom: 33px;
}

.form-register .steps ul {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	list-style: none;
	padding-left: 0;
}

.form-register .steps li,
.form-register .steps li.current {
	outline: none;
	-o-outline: none;
	-ms-outline: none;
	-moz-outline: none;
	-webkit-outline: none;
	position: relative;
	padding-bottom: 3px;
	padding-right: 63px;
}

.form-register .steps li:last-child {
	padding-right: 0;
}

.form-register .steps li .current-info {
	display: none;
}

.form-register .steps li::before {
	position: absolute;
	content: "";
	background: var(--ninth-color);
	width: 168px;
	height: 2px;
	top: 20%;
	left: 47%;
}

.form-register .steps li:last-child::before {
	content: none;
}

/* .form-register .steps li.current::after {
	position: absolute;
	content: "";
	width: 45px;
	height: 3px;
	background: var(--ninth-color);
	top: 100%;
	left: 25%;
} */

.form-register .steps li a {
	text-decoration: none;
	outline: none;
	-o-outline: none;
	-ms-outline: none;
	-moz-outline: none;
	-webkit-outline: none;
}

.form-register .steps li a .title {
	text-align: center;
}

.form-register .steps li a .title span {
	display: block;
	font-size: 14px;
}

.form-register .steps li a .title .step-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: var(--ninth-color);
	margin: 0 auto;
	position: relative;
	outline: none;
	-o-outline: none;
	-ms-outline: none;
	-moz-outline: none;
	-webkit-outline: none;
	color: var(--black-color);
	font-size: 18px;
	padding: 11px;
}

.form-register .steps li a .step-icon i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon,
.form-register .steps .done::before,
.form-register .steps li.done a .step-icon,
.form-register .steps li.done a:active .step-icon {
	background: var(--secondary-color);
	color: var(--white-color);
}

.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon {
	padding: 13px;
	color: var(--white-color);
}

.form-register .steps li a .step-number {
	color: #666;
	font-weight: 400;
	padding: 17px 0 8px;
}

.form-register .steps li a .step-text {
	color: var(--sixth-color);
	padding-top: 15px;
	padding-bottom: 8px;
}

/* .form-register .content {
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 32px 115px 23px 75px;
} */

.form-register .content h2 {
	display: none;
}

.inner label {
	font-size: 16px;
	font-weight: 400;
	display: block;
}

.inner label.error {
	padding-bottom: 0px;
	padding-top: 5px;
	color: var(--red-color);
	font-weight: 500;
}

.input-group-text {
	background: var(--bg-color1);
	border: 1px solid var(--bg-color1);
}

.show_hide_password {
	position: relative;
}

.show_hide_password input {
	position: relative;
}

.show_hide_password i {
	position: absolute;
	right: 20px;
    top: 17px;
}

.eye-btn {
	background: var(--bg-color1);
	border: 1px solid var(--bg-color1);
}

.eye-btn:hover, .eye-btn:focus, .eye-btn:active {
	background: var(--bg-color1) !important;
	border: 1px solid var(--bg-color1) !important;
}

.inner input {
	/* width: 100%; */
	height: 50px;
	background: var(--bg-color1);
	border: 1px solid var(--bg-color1);
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	appearance: unset;
	-moz-appearance: unset;
	-webkit-appearance: unset;
	-o-appearance: unset;
	-ms-appearance: unset;
	outline: none;
	-moz-outline: none;
	-webkit-outline: none;
	-o-outline: none;
	-ms-outline: none;
	color: var(--black-color);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.job-select, .location-select {
	width: 100%;
	height: 50px;
	background-color: var(--bg-color1);
	border: 1px solid var(--bg-color1);
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.degree-select {
	width: 50%;
	height: 50px;
	background-color: var(--bg-color1);
	border: 1px solid var(--bg-color1);
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.inner input::placeholder {
	color: var(--black-color);
	font-size: 15px;
}

.inner input:-ms-input-placeholder {
 /* Internet Explorer 10-11 */
 	color: var(--black-color);
	font-size: 15px;
}

.inner input::-ms-input-placeholder {
 /* Microsoft Edge */
 	color: var(--black-color);
	font-size: 15px;
}

/* .inner select {
	background-position: right 16px center;
	z-index: 1;
	cursor: pointer;
	color: rgba(255,255,255,0.6);
	position: relative;
}

.inner select option {
	background: #fff;
	color: #000;
} */

.inner .form-holder.form-holder-2 .select-btn {
	top: 27%;
	right: 6.5%;
}

.inner .ui-datepicker-trigger {
	background: transparent;
	border: none;
	color: #666;
	font-size: 19px;
	position: absolute;
	cursor: pointer;
	right: 10.5%;
	top: 27.5%;
	outline: none;
	-o-outline: none;
	-ms-outline: none;
	-moz-outline: none;
	-webkit-outline: none;
}

.inner h3 {
	font-weight: 900;
	color: var(--primary-color);
	margin: 0 0 11px;
	font-family: var(--font-family2);
}

.inner .form-row.table-responsive {
	border: none;
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 24px 26px 31px;
	margin: 0;
	margin-bottom: 22px;
	background: #2f8be0;
}

.inner .table-responsive .table {
	width: 100%;
}

.inner .table-responsive tbody {
	text-align: left;
}

.inner .table-responsive tr.space-row > td,
.inner .table-responsive tr.space-row > th {
	padding-bottom: 18px;
}

.inner .table-responsive tbody th {
	color: rgba(255,255,255,0.6);
	font-size: 16px;
	font-weight: 400;
}

.inner .table-responsive tbody td {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

.actions ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
}

.actions ul li.disabled {
	opacity: 0;
}

.actions ul li {
	padding: 0;
	border: none;
	display: inline-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	font-weight: 400;
	cursor: pointer;
}

.picture {
    width: 150px;
    height: 150px;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
	float: left;
}

.file-upload {
    cursor: pointer;
    display: block;
    height: 100%;
    position: relative;
    top: 45px;
    left: 30px;
    width: 50% !important;
	background: transparent !important;
	border-radius: 5px;
	border: 1px solid transparent !important;
}

.image-size {
	position: relative;
    top: 45px;
    left: 30px;
}

[type="file"]::-webkit-file-upload-button {
	background: rgba(25, 119, 204, 0.3);
	border: 1px solid rgba(25, 119, 204, 0.3) !important;
	border-radius: 4px;
	color: var(--black-color);
	cursor: pointer;
	font-size: 12px;
	outline: none;
	padding: 10px 25px;
	text-transform: uppercase;
	transition: all 1s ease;
}

.picture-src {
    width: 100%;
    height: 100%;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding-top: 40px;
}
  
.cv-upload-btn {
	border: 1px solid var(--upload-btn);
	color: var(--sixth-color);
	background-color: var(--upload-btn);
	padding: 8px 20px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
}
  
.upload-btn-wrapper input[type=file] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.upload-btn-wrapper i {
	color: var(--secondary-color);
}

.files-type {
	color: var(--seventh-color);
	margin-bottom: 50px;
	padding-top: 20px
}

.form-check input {
	width: 1em;
    height: 1em;
	border: 1px solid rgba(0, 0, 0, .25);
	background-color: #fff;
}

.add_employment_btn {
	color: var(--secondary-color);
}

.extra-fields-customer i {
	font-size: 22px;
}

.user-aggrement {
	padding-bottom: 60px;
}

.user-aggrement span {
	color: var(--secondary-color);
	font-weight: 400;
}

.note {
	padding: 60px 0px;
}

.finish-btn {
	margin-top: 60px;
}

/* Payment Page */

.payment-section {
	margin: 60px 0px 120px;
}

.payment-section h1 {
	font-family: var(--font-family2);
	font-weight: 900;
	color: var(--primary-color);
	margin-bottom: 20px;
}

.payment-row {
	margin: 60px 0px 120px ;
}

.payment-section .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-color: transparent;
	border-radius: 0px;
}

.payment-section .nav-tabs {
	border-bottom: 1px solid transparent;
}

.payment-section .nav-tabs .nav-link {
	border: 1px solid transparent;
	border-radius: 0px;
}

.payment-section .nav-link {
	color: var(--sixth-color);
	background-color: var(--bg-color2);
}

.select-plan-card {
	background: #FFFFFF;
	box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: 1px solid transparent;
	margin-top: 30px;
}

.payment-section .form-check-label {
	font-weight: 900;
	font-family: var(--font-family2);
}

.code-row {
	margin-top: 50px;
}

.payment-section h3 {
	font-weight: 900;
	font-family: var(--font-family2);
}

.payment-section h4 {
	font-weight: 900;
	font-family: var(--font-family2);
}

.code-row .form-group {
	margin-top: 20px;
}

input.form-control.coupon {
    background: var(--bg-color1);
    border-radius: 5px;
    border: 1px solid transparent;
}

.btn-apply {
	background-color: var(--secondary-color);
	border-radius: 5px;
}

.yearly-plan {
	padding: 30px 0px;
	border-bottom: 1px dashed var(--border-color);
}

.yearly-plan p {
	margin-bottom: 0px;
	color: var(--sixth-color);
}

.yearly-plan p span {
	font-size: 20px;
	font-weight: 600;
}

.discount-plan {
	padding: 30px 0px;
	border-bottom: 1px dashed var(--border-color);
}

.discount-plan p {
	margin-bottom: 0px;
	color: var(--sixth-color);
}

.discount-plan p span {
	font-size: 20px;
	font-weight: 600;
}

.total-plan {
	padding-top: 30px;
}

.total-plan p {
	margin-bottom: 0px;
	font-weight: 600;
}

.total-plan p span {
	font-size: 20px;
	font-weight: 600;
}

.payment-card select {
	border: 1px solid transparent;
}

.payment-logo {
	background-color: var(--eight-color);
	padding: 20px;
}

.payment-logo img {
	width: 50px;
	margin-right: 10px;
}

#cardno {
	background-image: url(../images/payment-logo.png);
    background-position: 98% 0%;
    background-repeat: no-repeat;
	display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#cardno.visa {
	background-position: 98% 21.5%;
}

#cardno.amex {
	background-position: 98% 40.5%;
}

#cardno.mastercard {
	background-position: 98% 60%;
}

#cardno.unionpay {
	background-position: 98% 79%;
}

#cardno.discover {
	background-position: 98% 96%;
}

#cardno.valid.visa {
	background-position: 98% 21.5%;
}

#cardno.valid.amex {
	background-position: 98% 40.5%;
}

#cardno.valid.mastercard {
	background-position: 98% 60%;
}

#cardno.valid.unionpay {
	background-position: 98% 79%;
}

#cardno.valid.discover {
	background-position: 98% 96%;
}

#csc {
	background-image: url(../images/csc-img.png);
    background-position: 98% 0%;
    background-repeat: no-repeat;
	background-size: 50px;
}

.payment-card {
	margin-top: 30px
}

.payment-card .card-body {
	padding: 40px 55px;
}

/* Profile Page */

.profile-section {
	margin: 60px 0 120px;
}

.profile-section .nav-link {
	color: var(--seventh-color);
}

.profile-section .nav-link.active {
	color: var(--primary-color);
	font-weight: 600;
}

.user-profile {
	display: flex;
	align-items: center;
}

.user-profile h3 {
	font-weight: 900;
	font-family: var(--font-family2);
}

.profile-menu-column img {
	width: 36px;
}

/* .share-profile {
	float: right;
} */

.member-info .card {
	border: 1px solid var(--border-color);
}

.member-info h4 {
	font-weight: 600;
	margin-bottom: 25px;
}

.mobile-row {
	padding-bottom: 30px;
}

.mobile-row p {
	color: var(--black-color);
	font-weight: 400;
}

.mobile-row span {
	font-size: 14px;
	color: var(--sixth-color);
}

.mobile-row img {
	height: 20%;
}

.mobile-row .fa-phone, .mobile-row .fa-users-gear {
    font-size: 24px;
	color: var(--sixth-color);
}

.email-row p {
	color: var(--black-color);
	font-weight: 400;
}

.email-row span {
	font-size: 14px;
	color: var(--sixth-color);
}

.email-row img {
	height: 20%;
}

.member-info hr {
	margin: 58px 0px;
}

.birth-date-row {
	padding-bottom: 30px;
}

.birth-date-row p {
	color: var(--black-color);
	font-weight: 400;
}

.birth-date-row span {
	font-size: 14px;
	color: var(--sixth-color);
}

.birth-date-row img {
	height: 20%;
}

.birth-year-row p {
	color: var(--black-color);
	font-weight: 400;
}

.birth-year-row span {
	font-size: 14px;
	color: var(--sixth-color);
}

.birth-year-row img {
	height: 20%;
}

.basic-information {
	border-bottom: 1px solid var(--border-color);
}

.edit-btn {
	background-color: var(--bg-color1);
	width: 52px;
	height: 52px;
	border-radius: 50%;
	margin-top: -15px;
    padding: 15px 18px;
}

.edit-btn img {
	height: 80%;
}

.cake-icon {
	margin-top: -10px;
}

/* About Us Page */

.about-banner {
	background-image: url(../images/about-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 313px 0px;
}

.about-banner .are {
	color: var(--white-color);
	font-family: var(--font-family2);
	font-weight: 900;
}

.about-banner .worker {
	color: var(--white-color);
	font-family: var(--font-family3);
	font-weight: 400;
}

.about-banner p {
	color: var(--white-color);
}

.about-section {
	margin: 80px 0px 120px;
}

.about-card .card {
	border: 1px solid transparent;
	background: var(--white-color);
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
}

.about-travel {
	font-weight: 900;
	font-family: var(--font-family2);
	color: var(--primary-color);
	margin-bottom: 30px;
	line-height: 1;
}

.about-row-2 {
	margin-top: 180px;
}

.about2 {
	font-weight: 900;
	font-family: var(--font-family2);
	color: var(--primary-color);
}

.about3 {
	font-weight: 900;
	font-family: var(--font-family3);
	color: var(--primary-color);
	padding-bottom: 60px;
}

.mission-card {
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	border-radius: 0px;
}

.mission-card h3 {
	font-weight: 900;
	font-family: var(--font-family2);
	color: var(--primary-color);
}

.vision-card {
	border: 1px solid var(--secondary-color);
	background-color: var(--secondary-color);
	border-radius: 0px;
}

.vision-card h3 {
	font-weight: 900;
	font-family: var(--font-family2);
	color: var(--primary-color);
}

.about-text-row {
	padding-top: 40px;
}

.our-team {
	font-weight: 900;
	font-family: var(--font-family2);
	color: var(--primary-color);
	padding: 120px 0px 50px;
	text-align: center;
}

.box:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0b3c67c2;
	opacity: 0;
	transition: all 0.5s ease 0s;
}

.box:hover:before {
	opacity: 1;
}

.box {
	text-align: center;
	position: relative;
	overflow: hidden;
	color: #fff;
}

.box:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	left: 170%;
	top: 0;
	transform: skewX(45deg);
	transition: all 1s ease 0s;
	background-color: #0b3c67;
	z-index: 1;
}

.box:hover:after {
	left: -170%;
	top: 0;
}

.box img {
	width: 100%;
	height: auto;
}

.box .box-content {
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	transition: all 0.5s ease 0s;
}

.box:hover .box-content {
	bottom: 40%;
}

.box .box-content .name {
	font-size: 22px;
	font-weight: 700;
	margin: 0 0 10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.box .box-content .post {
	display: block;
	font-size: 15px;
	font-style: italic;
	font-weight: 600;
}

/* Membership Page */

.membership-banner {
	background-image: url(../images/membership-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 313px 0px;
}

.membership-banner h1 {
	color: var(--white-color);
	font-family: var(--font-family2);
}

.membership-banner p {
	color: var(--white-color);
}

.membership-section {
	padding: 120px 0px;
}

.membership-section span {
	color: var(--primary-color);
	font-weight: 600;
}

.plan-row {
	margin-top: 80px;
}

.membership-section .card {
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	border-color: var(--white-color);
}

.plan-profile {
	font-family: var(--font-family2);
	font-weight: 900;
	color: var(--primary-color);
}

.plan-company {
	color: var(--primary-color);
	font-weight: 500;
	line-height: 30px;
}

.plan-company span {
	font-size: 16px;
}

.plan-btn {
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
}

.plan-rates {
	font-weight: 600;
	margin-bottom: 0px;
}

.membership-join {
	background-color: var(--secondary-color);
	padding: 145px 0px;
}

.membership-join h2 {
	font-family: var(--font-family2);
	font-weight: 900;
	color: var(--white-color);
}

.membership-join ul {
	padding-top: 40px;
}

.membership-join ul li {
	color: var(--white-color);
	padding-bottom: 35px;
	font-weight: 500;
}

.membership-join ul li i {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	background-color: var(--primary-color);
	padding: 10px;
	margin-right: 30px;
	margin-top: 30px;
}

/* Contact Us*/

.contact-banner {
	background-image: url(../images/contact-us-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 313px 0px;
}

.contact-banner h1 {
	color: var(--white-color);
	font-family: var(--font-family2);
}

.contact-banner p {
	color: var(--white-color);
}

.contact-us-section {
	padding-bottom: 120px;
}

.contact-us-section .card {
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	border-color: var(--white-color);
}

.contact-us-section .card .card-body {
	padding: 85px 60px;
}

.contact-us-section h2 {
	font-weight: 900;
	font-family: var(--font-family2);
	text-align: center;
	color: var(--primary-color);
}

.contact-us-section form {
	padding-top: 80px;
}

.contact-us-section input, .contact-us-section textarea {
	background: var(--bg-color1);
	border-radius: 5px;
	height: 70px;
	padding: 20px;
}

.attach-btn {
    border: 1px solid var(--sixth-color);
    border-radius: 5px;
    padding: 15px 42px 15px 29px;
}

.contact-us-section .submit-btn {
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	text-transform: uppercase;
}

.attach-btn input[type='file'] {
	display: none
}


/* Join The Network */

.join-network-banner {
	background-image: url(../images/join-the-network-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 313px 0px;
}

.join-network-banner h1 {
	color: var(--white-color);
	font-family: var(--font-family2);
}

.join-network-banner p {
	color: var(--white-color);
}

.join-network-section {
	padding-bottom: 120px;
}

.join-network-section .card {
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	border-color: var(--white-color);
}

.join-network-section h2 {
	font-weight: 900;
	font-family: var(--font-family2);
	text-align: center;
	color: var(--primary-color);
}

.join-network-section form {
	padding-top: 80px;
}

.join-network-section input, .join-network-section textarea {
	background: #F2F2F2;
	border-radius: 5px;
}

.attach-btn {
    border: 1px solid #686868;
    border-radius: 5px;
    padding: 15px 42px 15px 29px;
}

.attach-btn:hover {
	border: 1px solid #686868;
}

.join-network-section .btn-primary {
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	text-transform: uppercase;
}

.file-upload-btn input[type='file'] {
	display: none;
}

.file-upload-btn {
	border: 1px dashed var(--sixth-color);
	padding: 32px;
}

.file-upload-btn i {
	font-size: 36px;
	color: var(--sixth-color);
}

/* Events Page */

.events-banner {
	background-image: url(../images/events-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 313px 0px;
}

.events-banner h1 {
	color: var(--white-color);
	font-family: var(--font-family2);
}

.events-banner p {
	color: var(--white-color);
}

.events-section {
	padding: 120px 0px;
}

.events-section .button {
	text-transform: uppercase;
	border: 1px solid var(--border-color);
	background-color: var(--white-color);
	border-radius: 5px;
	padding: 5px 10px;
}

.events-section .button:hover {
	background-color: var(--primary-color);
	color: var(--white-color);
}
  
.events-section .button:active,
.events-section .button.is-checked {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.events-row {
	padding-top: 60px;
}

.demo__main {
	background: #FFFFFF;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}

#calendar {
	padding: 20px 16px;
}

/* .events-section .event-img {
	width: 120px;
} */

/* .events-section  .event-dates {
	float: left;
	padding: 13.5px 30px 13.5px 15px;
}

.events-section  .event-date {
	font-weight: 700;
	font-size: 16px;
	color: var(--fifth-color);
}

.events-section .event-time {
	font-weight: 500;
	font-size: 12px;
	color: var(--sixth-color);
}

.events-section .event-names {
	float: left;
	padding: 13.5px 0px;
}

.events-section .event-name {
	font-weight: 700;
	font-size: 16px;
	color: var(--fifth-color);
}

.events-section .event-place {
	font-weight: 500;
	font-size: 12px;
	color: var(--sixth-color);
}

.events-section hr {
	margin: 27px 0px;
	padding-bottom: 0px;
} */

.filterDiv {
	display: none;
}

.show {
	display: block;
}

.tnnh {
	padding-top: 60px;
}

.tnnh-row {
	background-color: var(--primary-color);
	padding: 32px 29px;
	border-radius: 5px;
}

.tnnh-row h2 {
	font-family: var(--font-family2);
	font-weight: 900;
	color: var(--white-color);
}

.tnnh-row p {
	font-weight: 400;
	color: var(--white-color);
}

.events-section .isotope-pager {
	display: none;
}

/* Healthcare Agencies Page */

.healthcare-banner {
	background-image: url(../images/healthcare-agencies-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 313px 0px;
}

.healthcare-banner h1 {
	color: var(--white-color);
	font-family: var(--font-family2);
}

.healthcare-banner p {
	color: var(--white-color);
}

.healthcare-section {
	padding: 120px 0px;
}

.healthcare-section .card .card-header {
	background-color: var(--secondary-color);
	padding: 28px 34px;
}

.healthcare-section .card .card-header h3 {
	color: var(--white-color);
	font-weight: 900;
	margin-bottom: 0px;
}

.filter-card .card-body {
	padding: 50px 35px;
}

.isotope-pager {
    margin-top: 30px;
}

.pager {
    margin: 0px 5px;
	border: 1px solid var(--border-color);
	padding: 5px 10px;
}

.healthcare-section h4 {
	font-weight: 600;
	color: var(--primary-color);
	padding: 30px 0 20px;
	margin-bottom: 0px;
}

.fa-chevron-left, .fa-chevron-right {
	color: var(--sixth-color);
}

.isotope-pager .pager {
	color: var(--seventh-color);
}

.isotope-pager .pager.active {
	background: var(--secondary-color);
	color: #fff;
}

/* Blogs */

.blogs-banner {
	background-image: url(../images/blogs-banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 313px 0px;
}

.blogs-banner h1 {
	color: var(--white-color);
	font-family: var(--font-family2);
}

.blogs-banner p {
	color: var(--white-color);
}

.blogs1-row {
	padding: 80px 0px 120px;
}

.blogs2-row {
	padding-bottom: 120px;
}

.content-blog1 .card .card-body {
	padding: 69px 45px;
}

.content-blog h3 {
	color: var(--primary-color);
	font-weight: 900;
	font-family: var(--font-family2);
	margin-bottom: 0px;
	padding-bottom: 30px;
}

.content-blog p {
	font-weight: 400;
	margin-bottom: 0px;
	padding-bottom: 40px;
}

.card-img-top {
	width: 100%;
}

/* Footer */

footer {
	padding: 7em 0 2em;
	background-image: url(../images/footer-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	/* position: fixed; */
	left: 0;
	bottom: 0;
	width: 100%;
}

footer a {
	color: var(--white-color);
}

footer h3, footer p {
	color: var(--white-color);
}

footer .footer-heading {
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 20px;
	color: var(--white-color);
}

footer .subscribe-form .form-group {
	position: relative;
	margin-bottom: 0;
	border-radius: 0;
}

footer .subscribe-form .form-group input {
	background: var(--tertiary-color);
	border: none !important;
	outline: none !important;
	color: var(--white-color);
	font-size: 16px;
    height: 51px;
}

footer .input-group-text {
	background-color: var(--tertiary-color);
	border: 1px solid var(--tertiary-color);
}

footer .input-group-text i {
	color: var(--fourth-color);
}

footer .subscribe-form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
	color: var(--white-color);
}

footer .subscribe-form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
	color: var(--white-color);
}

footer .subscribe-form .form-group input:-ms-input-placeholder {
    /* IE 10+ */
	color: var(--white-color);
}

footer .subscribe-form .form-group input:-moz-placeholder {
    /* Firefox 18- */
	color: var(--white-color);
}

footer .subscribe-form .form-group input:focus {
	outline: none !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}

footer .subscribe-form .form-group .submit {
	color: #fff !important;
	display: block;
	width: 130px;
	height: 52px;
	font-size: 16px;
	background: #f17e7e !important;
	border: none;
	border-radius: 0;
}

footer .subscribe-form .form-group .submit:hover, footer .subscribe-form .form-group .submit:focus {
	text-decoration: none !important;
	outline: none !important;
}

footer .subscribe-form .icon {
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.8);
}

footer .ftco-footer-social li a {
	color: var(--white-color);
}

.ftco-footer-social li {
	list-style: none;
	margin: 0 10px 0 0;
	display: inline-block;
}

/* .ftco-footer-social li a {
	height: 50px;
	width: 50px;
	display: block;
	background: var(--secondary-color);
	border-radius: 50%;
	position: relative;
} */

.ftco-footer-social li a i {
	position: absolute;
	font-size: 20px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
	color: var(--white-color);
}

footer .border-top {
	border-top: 1px solid var(--secondary-color) !important;
}

footer .link {
	color: var(--fourth-color);
	text-decoration: underline;
}